.accordion-styles() when not (@MODULE-Accordion) { }
.accordion-styles() when (@MODULE-Accordion) {

/* =========================================================================
// ACCORDION
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@ACCORDION-TitleColor:				@COLOR-White;
@ACCORDION-TitleBgColor:			@COLOR-Cyan;
@ACCORDION-BodyColor:				@COLOR-White;
@ACCORDION-BodyBgColor:				@COLOR-White;

@ACCORDION-Anim:					@ANIM-Curve;

// BASE
// ----------------------------------------------------

.accordion {
	
}

.accordion__tab {
	
}

.accordion__title {
	background-color: @ACCORDION-TitleBgColor;
  	text-decoration: none;
  	display: block;
	._padding (@TYPE-LineHeight/2);

  	&:link,
  	&:visited {
  		color: @ACCORDION-TitleColor;
  	}

  	&:hover {
  		background-color: darken(@ACCORDION-TitleBgColor, 10%);
  	}
}

.accordion__panel {
	background-color: @COLOR-White;
	overflow: hidden;
}

.accordion__body {
	._padding (@TYPE-LineHeight/2);
}

.accordion__panel.opening { 
    ._transition (height, 0.1s, @ACCORDION-Anim);
}

.accordion__panel.closing { 
    ._transition (height, 0.1s, @ACCORDION-Anim);
}

.accordion__panel.open {
    height: 100%;
}

.accordion__panel.closed {
	height: 0;
} 

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

}

// TABLET
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) and (max-width: @MQ-Medium) {

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

}

} .accordion-styles();