.accordion-styles() when not (@MODULE-Accordion) { }
.accordion-styles() when (@MODULE-Accordion) {

/* =========================================================================
// ACCORDION
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@ACCORDION-BgColor:				@COLOR-Base;

// BASE
// ----------------------------------------------------

.accordian {
	width: 30em;
}

/* Accordian headers */
.accordion__tab {
	background-color: @ACCORDION-BgColor;
	display: block;
	margin: 0;
}

.accordion__title {
  	color: @COLOR-White;
	padding: 0.2em;
}

/* collapsing-section */
.accordion__content {
    //display: none;
}

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

}

// TABLET
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) and (max-width: @MQ-Medium) {

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

}

} .accordion-styles();