.alert--styles() when not (@MODULE-Alert) { }
.alert--styles() when (@MODULE-Alert) {

/* =========================================================================
// ALERT
// =======================================================================*/

@ALERT-TextShadowcolor:         rgba(255, 255, 255, 0.5);

@ALERT-InfoBgColor:             @COLOR-BlueLighter;
@ALERT-InfoTextColor:           @COLOR-BlueDarker;
@ALERT-InfoBordercolor:         @COLOR-BlueDark;

@ALERT-ErrorBgColor:            @COLOR-RedLighter;
@ALERT-ErrorTextColor:          @COLOR-RedDarker;
@ALERT-ErrorBordercolor:        @COLOR-RedDark;

@ALERT-SuccessBgColor:          @COLOR-GreenLighter;
@ALERT-SuccessTextColor:        @COLOR-GreenDarker;
@ALERT-SuccessBordercolor:      @COLOR-GreenDark;

// BASE
// ----------------------------------------------------

.alert {
    display: block;
    position: relative;
    //border-width: 1px;
    //border-style: solid;
    //text-shadow: 0 1px 0 @ALERT-TextShadowcolor;

    //._border-radius ();
    ._padding (@TYPE-FontSize); // TODO: Make better - take into account the 1px border
    ._margin (0, 0, @TYPE-LineHeight, 0);
    ._box-shadow-custom(~"0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)");
}

// VARIABLES
// ----------------------------------------------------

.alert--info {
    background-color: @ALERT-InfoBgColor;
    color:  @ALERT-InfoTextColor;
    border-color: @ALERT-InfoBordercolor;
}

.alert--error {
    background-color: @ALERT-ErrorBgColor;
    color: @ALERT-ErrorTextColor;
    border-color: @ALERT-ErrorBordercolor;
}

.alert--success {
    background-color: @ALERT-SuccessBgColor;
    color: @ALERT-SuccessTextColor;
    border-color: @ALERT-SuccessBordercolor;
}

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

}

// TABLET
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) and (max-width: @MQ-Medium) {

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

}

} .alert--styles();