/* =========================================================================
// ARTICLE
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@ARTICLE-ShareColor:			@COLOR-Grey;

// BASE
// ----------------------------------------------------

.article {
    .lead {
		._font-size (@TYPE-SIZE-Delta);
    }

    hr {
    	margin: @TYPE-LineHeight+0px 40%;
    }
}

.article__head {
	text-align: center;
 	max-width: 40em;
 	margin: 0 auto;
	._font-size (@TYPE-SIZE-Beta);
	._margin-bottom (@TYPE-LineHeight);
}

.article__title {
	margin-bottom: 0;
	._font-size (@TYPE-SIZE-Omega);
}

.article__subtitle {
	margin-bottom: 0;
	._font-size (@TYPE-SIZE-Beta);
}

.article__body {
	background-color: @COLOR-White;
	position: relative;
 	max-width: 40em;
 	margin: 0 auto;
 	._clearfix();
	._font-size (@TYPE-SIZE-Delta);
 }

 .article__aside {
 	border-left: 5px solid @COLOR-GreyLight;
 	._padding (0, @TYPE-LineHeight);
 	._font-size (@TYPE-FontSize);
 }

.article__foot {
	text-align: center;
 	max-width: 40em;
 	margin: 0 auto;
	._margin-top (@TYPE-LineHeight);
}

.article__image {
	display: block;
	margin: 0 auto @TYPE-LineHeight+0px;
}

.share {
	text-align: center;

	.share__link {
		color: @ARTICLE-ShareColor;
		text-decoration: none;
		._font-size (40);
		._transition (color, 0.1s);

		&:hover {
			color: lighten(@ARTICLE-ShareColor, 5%);
		}
	}
}

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

}

// TABLET & UP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) {

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large) {

}

// DESKTOP WIDE
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Larger) {

	.article {
		.article__aside {
		 	position: absolute;
		 	top: 0;
		 	right: -274px;
		 	width: 250px;
		}
	}

}