.banner-styles() when not (@MODULE-Banner) { }
.banner-styles() when (@MODULE-Banner) {

/* =========================================================================
// BADGE
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@BANNER-Color:                  @COLOR-White;
@BANNER-Height:                 400px;
@BANNER-Indent:                 10%;
@BANNER-BgPosition:             center;

// BADGE BASE
// ----------------------------------------------------

.banner {
    background-position: @BANNER-BgPosition;
    position: relative;
    ._background-size();
}

.banner__content {
    color: @BANNER-Color;
    position: relative;
    height: 100%;
    ._background-color (@COLOR-Black, 0.5);
    ._text-shadow();
}

.banner__foreground {
    text-align: center;
    position: relative;
    ._padding (10);
}

.banner__image {
    float: right;
}

.banner__title {
    line-height: 1;
    margin: 0;
    ._font-size (@TYPE-SIZE-Omega);
}

.banner__subtitle {
    line-height: 1;
    margin: 0;
    ._font-size (@TYPE-SIZE-Beta);
}

.banner__body {
    font-style: italic;
    ._font-size (@TYPE-SIZE-Delta);
    ._margin-top (@TYPE-LineHeight);
}

.banner__actions {
    ._margin-top (@TYPE-LineHeight);
}

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

    .banner {
        ._margin-top (44);
    }

}

// TABLET+
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) {

    .banner {
        height: @BANNER-Height;
    }

    .banner__content {
        width: @BANNER-Height;
        left: @BANNER-Indent;
    }

    .banner__foreground {
        top: 50%;
        max-width: @BANNER-Height*2;
        ._translate-y (-50%);
    }

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

}

} .banner-styles();