.breadcrumbs-styles() when not (@MODULE-Breadcrumbs) { }
.breadcrumbs-styles() when (@MODULE-Breadcrumbs) {

/* =========================================================================
// BREADCRUMBS
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@BREADCRUMBS-FontSize:          @TYPE-SIZE-Iota;
@BREADCRUMBS-Color:             @TYPE-FontColor;
@BREADCRUMBS-ActiveColor:       @TYPE-FontColor;

// BASE
// ----------------------------------------------------

.breadcrumb {}

.list--breadcrumb {
    display: block;
    margin-left: 0;
    padding: 0;
    ._clearfix ();
    ._font-size (@BREADCRUMBS-FontSize);

    .list__item {
        display: inline;

        &:before {
            content: ">\0000a0";
        }

        &:first-child:before  {
            content: "";
        }
    }

    .list__link {
        color: @BREADCRUMBS-Color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:active,
        span {
            color: @BREADCRUMBS-ActiveColor;
        }
    }
}

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

}

// TABLET
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) and (max-width: @MQ-Medium) {

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

}

} .breadcrumbs-styles();