.breadcrumbs-styles() when not (@MODULE-Breadcrumbs) { }
.breadcrumbs-styles() when (@MODULE-Breadcrumbs) {

/* =========================================================================
// BREADCRUMBS
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@BREADCRUMBS-FontSize:          @TYPE-FontSize;
@BREADCRUMBS-Color:             @COLOR-White;
@BREADCRUMBS-BgColor:           @COLOR-Base;
@BREADCRUMBS-ActiveColor:       lighten(@BREADCRUMBS-BgColor, 40%);

// BASE
// ----------------------------------------------------

.nav__breadcrumbs {
    color: @BREADCRUMBS-Color;
    background-color: @BREADCRUMBS-BgColor;
}

.list__breadcrumb {
    display: inline-block;
    ._clearfix();
    ._font-size (@BREADCRUMBS-FontSize);

    .list__item {

    }

    .list__link {
        color: @BREADCRUMBS-ActiveColor;
        text-decoration: none;
        float: left;
        ._padding (10);
        ._transition (all, 0.1s);

        &:after {
            font-family: "Flaticon";
            content: "\e11d";
            ._margin-left (20);
        }

        &:hover {
            background-color: darken(@BREADCRUMBS-BgColor, 10%);
        }
    }
}

// VARIANTS
// ----------------------------------------------------

.list__breadcrumb--root {

}

.list__breadcrumb--current {
    .list__item {
        ._padding (10);
    }
}

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

    .nav__breadcrumbs {
        // text-overflow: ellipsis;
        // overflow: hidden;
        // white-space: nowrap;
        // width: 100%;
        // display: inline-block;
    }

    .list__breadcrumb {
        .list__link {
            display: block;
            width: 100%;

            &:after {
                content: "\e06f";
            }
        }
    }

}

// TABLET
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) and (max-width: @MQ-Medium) {

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

}

} .breadcrumbs-styles();