.browsehappy-styles() when not (@MODULE-Browsehappy) { }
.browsehappy-styles() when (@MODULE-Browsehappy) {

/* =========================================================================
// BROWSEHAPPY
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@BROWSEHAPPY-Color:				@COLOR-White;
@BROWSEHAPPY-BgColor:			@COLOR-Red;

// BASE
// ----------------------------------------------------

.browsehappy {
    color: @BROWSEHAPPY-Color;
    background-color: @BROWSEHAPPY-BgColor;
    font-weight: bold;
    text-align: center;
    margin: 0;
    ._padding (@TYPE-LineHeight/2);
    
    a {
        color: @BROWSEHAPPY-Color;

        &:link,
        &:visited {
        	color: @BROWSEHAPPY-Color;
        }
    }
}

} .browsehappy-styles();