.button-styles() when not (@MODULE-Button) { }
.button-styles() when (@MODULE-Button) {

/* =========================================================================
// BUTTON
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@BUTTON-BgColor:                lighten(@COLOR-Base, 10%);
@BUTTON-HoverColor:             lighten(@BUTTON-BgColor, 5%);
@BUTTON-TextColor:              @COLOR-White;

@BUTTON-AltColor:               spin(@BUTTON-BgColor, 180);
@BUTTON-AltHoverColor:          lighten(@BUTTON-AltColor, 5%);
@BUTTON-AltTextColor:           @COLOR-White;

@BUTTON-DisabledColor:          @COLOR-White;
@BUTTON-DisabledHoverColor:     lighten(@BUTTON-DisabledColor, 5%);
@BUTTON-DisabledTextColor:      @COLOR-Grey;

@BUTTON-SuccessColor:           @COLOR-Green;
@BUTTON-SuccessHoverColor:      lighten(@BUTTON-SuccessColor, 5%);
@BUTTON-SuccessTextColor:       @COLOR-White;

@BUTTON-InfoColor:              @COLOR-Blue;
@BUTTON-InfoHoverColor:         lighten(@BUTTON-InfoColor, 5%);
@BUTTON-InfoTextColor:          @COLOR-White;

@BUTTON-WarningColor:           @COLOR-Orange;
@BUTTON-WarningHoverColor:      lighten(@BUTTON-WarningColor, 5%);
@BUTTON-WarningTextColor:       @COLOR-White;

@BUTTON-DangerColor:            @COLOR-Red;
@BUTTON-DangerHoverColor:       lighten(@BUTTON-DangerColor, 5%);
@BUTTON-DangerTextColor:        @COLOR-White;

@BUTTON-Anim:                   @ANIM-Curve;

// BUTTON CREATOR
// ----------------------------------------------------

._button-create (@backgroundcolor, @HoverColor, @TextColor) {

    color: @TextColor;
    background-color: @backgroundcolor;

    &:visited {
        color: @TextColor;
    }

    &:hover {
        background-color: @HoverColor;
        color: @TextColor;
    }

}

// BUTTON BASE
// ----------------------------------------------------

.button {
    color: @BUTTON-TextColor;
    background-color: @BUTTON-BgColor;
    display: block;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;

    ._padding ((@TYPE-LineHeight/4), (@TYPE-FontSize * 1.5), (@TYPE-LineHeight/4), (@TYPE-FontSize * 1.5));
    ._line-height (@TYPE-FontSize);
    ._transition (all, 0.1s, @BUTTON-Anim);

    &:link,
    &:visited {
        color: @BUTTON-TextColor;
    }

    &:hover {
        color: @BUTTON-TextColor;
        background-color: @BUTTON-HoverColor;
        ._depth-1();
    }

    &:active {
        
    }

}

// BUTTON TYPES
// ----------------------------------------------------

.button--alt {
    ._button-create (@BUTTON-AltColor, @BUTTON-AltHoverColor, @BUTTON-AltTextColor);
}

.button {
    &.success {
        ._button-create (@BUTTON-SuccessColor, @BUTTON-SuccessHoverColor, @BUTTON-SuccessTextColor);
    }

    &.info {
        ._button-create (@BUTTON-InfoColor, @BUTTON-InfoHoverColor, @BUTTON-InfoTextColor);
    }

    &.warn {
        ._button-create (@BUTTON-WarningColor, @BUTTON-WarningHoverColor, @BUTTON-WarningTextColor);
    }

    &.danger {
        ._button-create (@BUTTON-DangerColor, @BUTTON-DangerHoverColor, @BUTTON-DangerTextColor);
    }

    &.disabled {
        cursor: not-allowed;
        ._button-create (@BUTTON-DisabledColor, @BUTTON-DisabledHoverColor, @BUTTON-DisabledTextColor);
    }
}
    // BUTTON GROUPS

    .buttongroup {
        position:relative;
        vertical-align:middle;
        white-space: nowrap;
        ._inline-block();

        .button {
            position:relative;
            float:left;
            ._border-radius(0);

            &:first-child, &.first {
                ._border-radius-custom(5, 0, 0, 5);
            }

            &:last-child, &.last {
                ._border-radius-custom(0,5,5,0);
            }
        }
    }
.button__totop {
    color: @COLOR-White;
    background-color: @BUTTON-AltColor;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    cursor: pointer;
    line-height: 1;
    z-index: @Z-INDEX-Level1;
    ._padding (7);
    ._font-size (30);
    ._depth-4();
    ._transition (background-color, 0.1s);
    
    &:hover {
        color: @COLOR-White;
        background-color: lighten(@BUTTON-AltColor, 5%);
        ._depth-4();
    }
}

// BUTTON Standards
// ----------------------------------------------------

.button.xsmall {
    ._font-size ((@TYPE-FontSize - 4));
}
.button.small {
    ._font-size ((@TYPE-FontSize - 2));
}
.button.large {
    ._font-size ((@TYPE-FontSize + 2));
}
.button.xlarge {
    ._font-size ((@TYPE-FontSize + 4));
}

.button.full {
    display: block !important;
}

.button.block {
    width: 100%;
}


// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

    .button__mobile {
        display: block;
    }

    .button__mobile--navigation {
        position: absolute;
        top: 0;
        right: 0;
        height: 44px;
        width: 44px;
        cursor: pointer;
        ._padding (21, 12, 0, 12);
    }
    
    .button__mobile--navigation span, .button__mobile--navigation span:before, .button__mobile--navigation span:after {
        cursor: pointer;
        border-radius: 2px;
        height: 2px;
        width: 20px;
        background: @COLOR-White;
        position: absolute;
        display: block;
        content: '';
    }
    
    .button__mobile--navigation span:before {
        top: -4px; 
    }
    
    .button__mobile--navigation span:after {
        bottom: -4px;
    }
    
    .button__mobile--navigation span, .button__mobile--navigation span:before, .button__mobile--navigation span:after {
        transition: all 500ms ease-in-out;
    }
    
    .button__mobile--navigation.active span {
        background-color: transparent;
    }
    
    .button__mobile--navigation.active span:before, .button__mobile--navigation.active span:after {
        top: 0;
    }
    
    .button__mobile--navigation.active span:before {
        transform: rotate(45deg);
    }
    
    .button__mobile--navigation.active span:after {
        transform: translateY(-4px) rotate(-45deg);
        top: 4px;
    }

}

// TABLET & UP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) { 

    .button {
        ._inline-block();
    }

    .button__mobile {
        display: none;
    }

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

}

} .button-styles();