.form-styles() when not (@MODULE-Form) { }
.form-styles() when (@MODULE-Form) {

/* ==========================================================================
// FORM
// =========================================================================*/

// VARIABLES
// ----------------------------------------------------

@FORM-Color:                @COLOR-GreyDarker;
@FORM-BgColor:              @COLOR-White;
@FORM-BorderColor:          @COLOR-GreyLight;
@FORM-Placeholder:          @COLOR-GreyLight;
@FORM-Asterisk:             @COLOR-Red;
@FORM-Offset:               25%;
@FORM-OffsetGap:            3%;
@FORM-OffsetLabel:          ((@FORM-Offset)-(@FORM-OffsetGap));
@FORM-OffsetAsterisk:       ((@FORM-Offset)-(@FORM-OffsetGap/2));

// BASE
// ----------------------------------------------------

.form {
    ._margin (0, 0, @TYPE-LineHeight, 0);

    span.form__label,
    .form__label span {
        &:after {
            content: ":";
        }
    }
}

.form__row {
    position: relative;
    ._clearfix ();
    ._margin (0, 0, @TYPE-LineHeight, 0);
}

.form__label  {
    cursor: pointer;
    display: block;

    &.disabled {
        cursor: not-allowed;
    }
}

.form__input {
    color: @FORM-Color;
    clear: left;
    display: block;
    width: 100%;
    max-width: 100%;
    border: 1px solid @FORM-BorderColor;
    ._padding (6, 8);
    ._border-radius (4);

    &:focus {
        outline: 0;
        outline: thin dotted \9;
        ._depth-1 ();
    }
}

.form__note {
    display: block;
    ._margin-top (5);
    ._font-size ((@TYPE-FontSize - 2));
}

.form__asterisk {
    color: @FORM-Asterisk;
    border-bottom: none !important;
}


.form__group {

    &.inline {
        display: table;

        .group__item {
            display: table-cell;
        }

        .form__input {
            width: 100%;
        }
    }

    &.vertical {
        .group__item {
            .block;
        }
    }
}

.form__group--check {
    .form__label,
    .form__input {
        width: auto;
        margin-top: 0;
        ._inline-block ();
    }

    span.form__label,
    .form__label span {
        &:after {
            content: "";
        }
    }
}

fieldset.simple {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    .block;
}


._placeholder (@FORM-Placeholder); 

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

    .form__asterisk {
        position: absolute;
        right: 0;
        top: 0;
    }

    .form__group {
        ._padding-right(12);
    }
}

// TABLET
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) and (max-width: @MQ-Medium) {

}

// TABLET UP ADJUSTMENTS
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) {

    .form__label {
        ._margin-top (2);
    }

    .form__input {
        width: 40%;
        vertical-align: middle;
        ._inline-block ();
    }

    .form__note {
        margin-top: 0;
        ._inline-block ();
    }

    .form__input.xsmall {
        width: 10%;
    }

    .form__input.small {
        width: 20%;
    }

    .form__input.large {
        width: 60%;
    }

    .form__input.xlarge {
        width: 75%;
    }

    .form__input.full {
        width: 100%;
    }


    .form.inline {

        .form__label {
            ._inline-block;
        }

        .form__row {
            display: inline;
        }

        .form__input {
            //width: auto;
        }
    }

    .form.aligned {

        .form__row.offset {
            padding-left: @FORM-Offset;
        }

        .form__asterisk {
            position: absolute;
            left: @FORM-OffsetAsterisk;
            top: 0;
        }

        .form__label {
            width: @FORM-OffsetLabel;
            text-align: right;
            margin-right: @FORM-OffsetGap;
            .left;
        }

        .form__group {
            .block;
            .left;

            .form__label {
                width: auto;
                text-align: left;
                margin-right: auto;
                float: none;
            }
        }

        .form__text {
            display: block;
            margin-left: @FORM-Offset;
        }
    }
}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

}

} .form-styles();