.form-styles() when not (@MODULE-Form) { }
.form-styles() when (@MODULE-Form) {

/* ==========================================================================
// FORM
// =========================================================================*/

// VARIABLES
// ----------------------------------------------------

@FORM-DefaultBgColor:           @COLOR-White;
@FORM-DefaultTextColor:         @COLOR-GreyDarker;
@FORM-DefaultBordercolor:       @COLOR-GreyLight;
@FORM-ActionsBgColor:           @COLOR-GreyLightest;

@FORM-Placeholder:              @COLOR-GreyLight;
@FORM-AddonBgColor:             @COLOR-GreyLight;
@FORM-AddonColor:               @COLOR-GreyDark;
@FORM-Asterisk:                 @COLOR-Red;

@FORM-Offset:                   25%;
@FORM-OffsetMin:                200px;
@FORM-OffsetGap:                3%;
@FORM-OffsetMin:                20px;
@FORM-OffsetLabel:              ((@FORM-Offset)-(@FORM-OffsetGap));
@FORM-OffsetAsterisk:           ((@FORM-Offset)-(@FORM-OffsetGap/2));

@FORM-InfoBgColor:             @COLOR-BlueLightest;
@FORM-InfoTextColor:           @COLOR-BlueDark;
@FORM-InfoBordercolor:         @COLOR-BlueLight;

@FORM-WarnBgColor:             @COLOR-OrangeLightest;
@FORM-WarnTextColor:           @COLOR-OrangeDarker;
@FORM-WarnBordercolor:         @COLOR-OrangeLight;

@FORM-DangerBgColor:           @COLOR-RedLightest;
@FORM-DangerTextColor:         @COLOR-RedDark;
@FORM-DangerBordercolor:       @COLOR-RedLight;

@FORM-SuccessBgColor:          @COLOR-GreenLightest;
@FORM-SuccessTextColor:        @COLOR-GreenDark;
@FORM-SuccessBordercolor:      @COLOR-GreenLight;



// FORM INPUT STATUSES
// ----------------------------------------------------

._input-create (@BgColor, @TextColor, @Bordercolor) {
    //color: @TextColor;
    border: 1px solid @Bordercolor;
    //background-color: @BgColor;

    .input__field {
        background-color: @BgColor;
        color: @TextColor;

        &:-moz-placeholder{
            color: lighten(@TextColor, 35%);
        }
        &::-moz-placeholder{
            color: lighten(@TextColor, 35%);
        }
        &:-ms-input-placeholder{
            color: lighten(@TextColor, 35%);
        }
        &::-webkit-input-placeholder {
            color: lighten(@TextColor, 35%);
        }
    }

}


// BASE
// ----------------------------------------------------

    .form {
        ._margin (0, 0, @TYPE-LineHeight, 0);
    }

    .form__row {
        position: relative;
        max-width: 60em;
        ._clearfix ();
        ._margin (0, 0, @TYPE-LineHeight/2, 0);
    }

    .form__label  {
        display: block;
        ._padding (7, 0, 0, 0);

        &.disabled {
            cursor: not-allowed;
        }

        &.success {
            color:@FORM-SuccessTextColor;
        }
        &.info {
            color:@FORM-InfoTextColor;
        }
        &.warn {
            color:@FORM-WarnTextColor;
        }
        &.danger {
            color:@FORM-DangerTextColor;
        }
    }

    //span.form__label,
    //.form__label span {
    //    &:after {
    //        content: ":";
    //    }
    //}

    .form__control {
        position:relative;
        ._haslayout();
    }

    .form__note {
        clear: both;
        display: block;
        font-style: italic;
        color: @FORM-DefaultTextColor;
        ._padding(2, 5);
        ._margin-top (5);
    }

    .form__required {
        color: @FORM-Asterisk;
        border-bottom: none !important;
        cursor: help;
        position: absolute;
        cursor: help;
        right: 0;
        top: 8px;
        width: 0.6em;
    }

    .form__actions {
        background-color: @FORM-ActionsBgColor;
        ._padding (@TYPE-LineHeight, @TYPE-FontSize, @TYPE-LineHeight, @TYPE-FontSize);
    }

    .form__fieldset {

        &.nostyle {
            border: none;
            padding: 0;
            margin: 0;
            width: 100%;
            display: block;
        }
    }


// INPUTS
// ----------------------------------------------------

    .input {
        color: @FORM-DefaultTextColor;
        position:relative;
        display: block;
        border: 1px solid @FORM-DefaultBordercolor;
        background-color: @FORM-DefaultBgColor;
        width: 100%;

        &.success {
            ._input-create (@FORM-SuccessBgColor, @FORM-SuccessTextColor, @FORM-SuccessBordercolor);
        }

        &.info {
            ._input-create (@FORM-InfoBgColor, @FORM-InfoTextColor, @FORM-InfoBordercolor);
        }

        &.warn {
            ._input-create (@FORM-WarnBgColor, @FORM-WarnTextColor, @FORM-WarnBordercolor);
        }

        &.danger {
            ._input-create (@FORM-DangerBgColor, @FORM-DangerTextColor, @FORM-DangerBordercolor);
        }
    }

    .input__wrap {
        width: 100%;

        &--check {
            .input__label {
                ._inline-block();
            }
        }
    }

    .input__addon {
        background-color: @FORM-AddonBgColor;
        color: @FORM-AddonColor;
        display: table-cell;
        white-space: nowrap;
        vertical-align: middle;
        ._text-shadow(~"0 1px 0 rgba(255, 255, 255, 0.8)");
        ._padding (8, 12, 7, 12);
        ._inline-block();
    }

    .input__note {
        display: block;
        color: @COLOR-Grey;
        ._text-shadow(~"1px 1px 0 rgba(255, 255, 255, 0.8)");
        ._font-size(@TYPE-SIZE-Iota);
        ._padding(2, 5);

    }

    .input__faux {
    }

    .input__label {

        &.success {
            color:@FORM-SuccessTextColor;
        }
        &.info {
            color:@FORM-InfoTextColor;
        }
        &.warn {
            color:@FORM-WarnTextColor;
        }
        &.danger {
            color:@FORM-DangerTextColor;
        }
    }

    .input__field {
        background-color: transparent;
        border: none;
        margin: 0;
        width: 100%;
        display: table;
        //._border-radius (4);
        ._padding (6, 5, 6, 5);
        ._inline-block();

        &:focus {
            outline: 0;
            outline: thin dotted \9;
            ._depth-1 ();
        }
    }

    .input__field--check {
        width: auto;
    }

    .input__group {

        .input {
            ._inline-block();
        }

        .input__wrap {
            ._inline-block();

            .input {
                display:block;
            }

            &:last-child {
                padding-right: 0;
            }

            .button {
                position:relative;
                bottom: -1px;
            }
        }

        &.inline {
            display: table;

            .input__wrap {
                display: table-cell;
                vertical-align: middle;
            }
        }


        &.vertical {
            display: block;

            .input__wrap {
                display: block;
                ._margin(0,0,5,0);

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .input--check {
                margin-bottom: 0;
                width: auto;
            }
        }
    }


    ._placeholder (@FORM-Placeholder);

// VARIANTS
// ----------------------------------------------------

    .input--check {
        ._padding(7,5,0,5);

        .input__label {
            display: inline;
            position:static;
            ._font-size(@TYPE-FontSize);

        }

        .input__field {
            width: auto;
            display: inline;
            float:left;
            ._height(@TYPE-LineHeight);
            ._margin-right(@TYPE-FontSize/1.5);

            &:focus {
            }
        }
    }


    .input__group--check {
        .input__wrap {
            ._margin(0, @TYPE-FontSize*2, 0, 0);
        }
        .input {
            width: auto;
            margin-top: 0;
            border: none;
            ._inline-block ();
            // no border so needs extra pixels
            ._margin(0, @TYPE-FontSize/2, 0, 0);
            ._padding (9, 0, 8, 0);

            &:first-child {
                margin-left: 0;
            }
        }

        .input__label {
            // no border so needs extra pixels
            ._padding (9, 0, 8, 0);
        }

        .input--check {
            margin:0;
        }

        &.vertical {
            .input {
                margin-left: 0;
                display:block;
            }

        }
    }

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

}

// TABLET
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) and (max-width: @MQ-Medium) {

}

// TABLET UP ADJUSTMENTS
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) {

    .form__label {
    }

    .form__note {
        margin-top: 0;
        ._inline-block ();
    }

    .input__wrap {
        width: 40%;
        vertical-align: top;
        ._inline-block ();

        &--check {
            width: auto;
        }

        &.xsmall {
            width: 10%;
            min-width: 2em;
        }

        &.small {
            width: 20%;
            min-width: 5em;
            ._font-size(@TYPE-FontSize);
        }

        &.large {
            width: 60%;
            min-width: 10em;
        }

        &.xlarge {
            width: 75%;
            min-width: 15em;
        }

        &.full {
            width: 100%;
            min-width: 20em;
        }
    }

    .form.inline {

        .form__label {
            ._inline-block();
        }

        .form__row {
            display: inline;
        }

        .form__input {
            //width: auto;
        }

    }

    .form.aligned {

        .form__required {
            position: absolute;
            left: @FORM-OffsetAsterisk;
            top: 8px;
        }

        .form__label {
            width: @FORM-OffsetLabel;
            text-align: right;
            margin-right: @FORM-OffsetGap;
            float: left;
        }


        .input__wrap--check {
            ._margin-bottom(0);
            .input__label {
                ._inline-block();
            }

            .input {float: left;
            }
        }

        .input__group {
            display: block;
            width: 100%;
        }

        .input__label {
            width: auto;
            text-align: left;
            margin-right: auto;
            float: none;
        }

        .form__note {
            display: block;
        }
    }


}
// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

}

} .form-styles();