.gridder-styles() when not (@MODULE-Gridder) { }
.gridder-styles() when (@MODULE-Gridder) {

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.gridder {

    ._transition (height, 0.4s, @ACCORDION-Anim);

 	.card--gridder {

    	._transition (all, 0.4s, @ACCORDION-Anim);

        &.normal {
            background-color: #FF9999;
        }

        &.tall {
            background-color: #FF1919;
        }

        &.taller {
            background-color: #FF0000;
        }

        &.tallest {
            background-color: #7F0000;
        }

    }
}

.gridder--alt {
    ._transition (height, 0.4s, @ACCORDION-Anim);

    .card--gridder {

        font-size: 1em;

        ._transition (all, 0.4s, @ACCORDION-Anim);
        opacity: 1;

        &.ignore {
            opacity: 0;
        }

        &.small {
            background-color: #4C4CFF;
        }

        &.normal {
            background-color: #0000FF;
        }

        &.tall {
            background-color: #000033;
        }

        &.taller {
            background-color: #000019;
        }
    }
}

} .gridder-styles();