.image-styles() when not (@MODULE-Image) { }
.image-styles() when (@MODULE-Image) {

/* =========================================================================
// IMAGE
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@IMAGE-Color:				@COLOR-White;
@IMAGE-BorderColor:			@COLOR-GreyLight;

// BASE
// ----------------------------------------------------

.image {}

.image--rounded {
    ._border-radius ();
}

.image--circle {
    ._border-radius (1000);
}

.image--bordered {
    background-color: @IMAGE-Color;
    border: 1px solid @IMAGE-BorderColor;
    ._padding (4);
}

} .image-styles();