/* =========================================================================
// LIST
// =======================================================================*/

// BASE
// ----------------------------------------------------

.list {
	list-style: none;
    padding: 0;
    margin: 0;
}

// VARIANTS
// ----------------------------------------------------

.list.horizontal {
   .list__item {
        display: inline;
    }
}

.list--alloythumbs {
  .list__item {
    display:block;
    float:left;
    width:25%;
  }
}

.rte {
  .list--alloythumbs {
    padding:0;
    margin:0;
  }
}

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

}

// TABLET
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) and (max-width: @MQ-Medium) {

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

}