.modal-styles() when not (@MODULE-Modal) { }
.modal-styles() when (@MODULE-Modal) {

/* =========================================================================
// MODAL
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@MODAL-MaskBgColor:				rgba(0, 0, 0, 0.5);

// BASE
// ----------------------------------------------------

.modal__content {
	position: fixed;
	top: 25%;
	width: 100%;
	z-index: @Z-INDEX-Level7;
	opacity: 0;
    ._transition (opacity, 0.25s, @ACCORDION-Anim);
}

.modal__content--visible {
	opacity: 1;	
}

/* Accordian headers */
.modal__mask {
	background-color: @MODAL-MaskBgColor;
	height: 0;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: @Z-INDEX-Level7;
	opacity: 0;
    ._transition (opacity, 0.5s, @ACCORDION-Anim);
}

.modal__mask--visible {
	opacity: 1;
	visibility: visible;
	height: 100%;
	width: 100%;
}

// .modal__mask {
// 	background-color: @MODAL-MaskBgColor;
// 	height: 100%;
// 	width: 100%;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	z-index: @Z-INDEX-Level7;
// 	._transition-custom(~"visibility 0 linear .4s,opacity .4s cubic-bezier(.4,0,.2,1)");
// 	._transform-custom(~"translateZ(0)");
// }

// .modal__mask--visible {
// 	opacity: 1;
// 	visibility: visible;
// }

} .modal-styles();