.pagination-styles() when not (@MODULE-Pagination) { }
.pagination-styles() when (@MODULE-Pagination) {

/* =========================================================================
// PAGINATION
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@PAGINATION-Color:              @BUTTON-TextColor;
@PAGINATION-BgColor:            @BUTTON-BgColor;
@PAGINATION-BgColorHover:       @BUTTON-HoverColor;

// BASE
// ----------------------------------------------------

.list--pagination {
    display: inline-block;
    padding: 0;
    ._margin (0, 10, @TYPE-LineHeight, 10);
    ._clearfix ();

    .list__item {
        float: left;
        ._margin-right (10);

        &:last-child {
            margin-right: 0;
        }
    }

    .list__link {
        color: @PAGINATION-Color;
        background-color: @PAGINATION-BgColor;
        float: left;
        text-decoration: none;
        ._padding (2, 10, 2, 10);
        ._transition (all, 0.1s);

        &:hover {
            background-color: @PAGINATION-BgColorHover;
        }
    }

    .current {
        background-color: @PAGINATION-BgColorHover;
    }
}

} .pagination-styles();