.pagination-styles() when not (@MODULE-Pagination) { }
.pagination-styles() when (@MODULE-Pagination) {

/* =========================================================================
// PAGINATION
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@PAGINATION-Color:              @BUTTON-TextColor;
@PAGINATION-BgColor:            @BUTTON-BgColor;
@PAGINATION-BgColorHover:       @BUTTON-HoverColor;

// BASE
// ----------------------------------------------------

.list--pagination {
    padding: 0;
    ._margin (0, 0, @TYPE-LineHeight, -10);
    ._clearfix ();

    .list__item {
        float: left;
        ._margin (0, 0, 0, 10);
    }

    .list__link {
        color: @PAGINATION-Color;
        background-color: @PAGINATION-BgColor;
        float: left;
        text-decoration: none;
        ._padding (2, 10, 2, 10);
        ._border-radius (4);
        ._transition (background-color, 0.3s);

        &:hover,
        &.active {
            background-color: @PAGINATION-BgColorHover;
        }
    }
}

} .pagination-styles();