.panel-styles() when not (@MODULE-Panel) { }
.panel-styles() when (@MODULE-Panel) {

/* =========================================================================
// PANEL
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@PANEL-BgColor:				@COLOR-Base;

// BASE
// ----------------------------------------------------

.panel {
	background-color: @PANEL-BgColor;
	background-clip: padding-box;
	._margin (10, 0, 20, 0);
	._padding (20);
	._border-radius (2);
	._box-shadow-custom(~"0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)");
}

.panel__title {
	font-family: @TYPE-HeadingsFontFamily;
	._font-size-heading (@TYPE-SIZE-Beta);
}

.panel__body {
	
}

.panel__actions {
	border-top: 1px solid lighten(@PANEL-BgColor, 5);
	._margin-top (15);
	._padding-top (20);
}

} .panel-styles();