.panel-styles() when not (@MODULE-Panel) { }
.panel-styles() when (@MODULE-Panel) {

/* =========================================================================
// PANEL
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@PANEL-Color:				   @COLOR-White;
@PANEL-BgColor:				   @COLOR-Base;
@PANEL-HeadingsFontFamily:     @TYPE-HeadingsFontFamily;

// BASE
// ----------------------------------------------------

.panel {
	color: @PANEL-Color;
	background-color: @PANEL-BgColor;
	background-clip: padding-box;
	._padding (@TYPE-LineHeight);
	._border-radius (2);
	._depth-1 ();
}

.panel__title {
	font-family: @PANEL-HeadingsFontFamily;
	._font-size-heading (@TYPE-SIZE-Beta);
}

.panel__body {
	
}

.panel__actions {
	border-top: 1px solid lighten(@PANEL-BgColor, 10%);
	._margin-top (@TYPE-LineHeight);
	._padding-top (@TYPE-LineHeight);
}

} .panel-styles();