.rte-styles() when not (@MODULE-RTE) { }
.rte-styles() when (@MODULE-RTE) {

/* ==========================================================================
// RTE
// =========================================================================*/

.rte {
    .image--left {
        float: left;
        ._margin (0, 20, 10, 0);
    }

    .image--right {
        float: right;
        ._margin (0, 0, 10, 20);
    }

    .image--block {
        width: 100%;
        ._margin (10, 0, 10, 0);
    }
    
    ol,
    ul {
        ._padding-left (0);
        ._margin (20, 0, 20, 0);

        ol,
        ul  {
            ._padding-left (20);
            ._margin (10, 0, 10, 0);
        }
    }
    
    ul {
        
    }

    strong, b {

    }

    i, em {

    }

    blockquote {
        color: @COLOR-GreenDarker;
        background-color: @COLOR-GreenLighter;
        font-family: @TYPE-HeadingsFontFamily;
        ._padding (20);
        ._margin (20, 0, 20, 0);
        ._border-radius (2);
        ._font-size (@TYPE-SIZE-Epsilon);
        ._box-shadow-custom(~"0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)");

        cite {
            font-family: @TYPE-FontFamily;
            ._font-size (@TYPE-FontSize);
        }
    }

    cite {}
    li {}
    dl {}
    dd {}
    dt {}
}

} .rte-styles();