.scrollbar-styles() when not (@MODULE-Scrollbar) { }
.scrollbar-styles() when (@MODULE-Scrollbar) {

/* ==========================================================================
// SCROLLBAR
// =========================================================================*/

	@SCROLLBAR-Anim:					@ANIM-Curve;

	.scrollable-example {
		height: 200px;
		overflow: auto;
	}

	.scroll-wrap {
		position: relative;

		& .scrollable {
		}

		.scrollcontainer {
			position: absolute;
			top: 0;
			right: -0.6em;
			width: 1em;
			height: 100%;
          ._padding(2);

			opacity: 0;
		    ._transition (opacity, 0.4s, @SCROLLBAR-Anim);
		}

		&.hasfocus, &.hoverfocus {
	  		.scrollcontainer {
	  			opacity: 1;
	  		}
	  	}

	  	&.disabled {
	  		.scrollcontainer {
	  			opacity: 0;
	  		}
	  	}
	}

	.button-up {
		height: 10%;
		width: 100%;
		cursor: pointer;

		background-color: @COLOR-GreyLightest;
	  	background-color: fade(@COLOR-Grey, 50%);
        ._border-radius(5);

		&:before {
			content: "^";
		}
	}

	.button-down {
		height: 10%;
		width: 100%;
		cursor: pointer;

		background-color: @COLOR-GreyLightest;
	  	background-color: fade(@COLOR-Grey, 50%);
        ._border-radius(5);

		&:before {
			content: "v";
		}
	}

	.scrollbar {
		width: 100%;
		height: 80%;
		cursor: pointer;

		background-color: @COLOR-GreyLightest;
	  	background-color: fade(@COLOR-Grey, 50%);
        ._border-radius(5);
	}

	.button-scroller {
	  width: 100%;
	  height: 3em;
	  background-color: @COLOR-GreyDarkest;
      ._border-radius(5);
	}

} .scrollbar-styles();