.stage-styles() when not (@MODULE-Stage) { }
.stage-styles() when (@MODULE-Stage) {

/* =========================================================================
// STAGE
// =======================================================================*/

// COLOURS
// ----------------------------------------------------

@BOX-HeadColor:                 @COLOR-White;

// BASE
// ----------------------------------------------------

  .stage {
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    background-color: @COLOR-GreyLight;
    padding-left: 300px;
  }

  .stage__toggle {
    position: absolute;
    display: block;
    left: 20px;
    top: 20px;
    z-index: @Z-INDEX-Level5;
    text-decoration: none;
    line-height: 1;
    ._padding-top (1);
    ._font-size (@TYPE-LineHeight);

    &:link {
      color: @COLOR-GreyLightest;
    }

    &:visited {
      color: lighten(@COLOR-GreyLightest, 20%);
    }

    &:hover,
    &:focus {
      color: darken(@COLOR-GreyLightest, 10%);
    }

    &:active {
      color: darken(@COLOR-GreyLightest, 20%);
    }
  }

  .stage__page {
    z-index: @Z-INDEX-Level1;

    position: relative;
    background-color: @COLOR-White;
    ._box-shadow-custom(~"0 0 40px rgba(0,0,0,0.9)");
  }

  .stage__menu {
    z-index: @Z-INDEX-Level0;
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 300px;
    background-color: @COLOR-GreyDarkest;
  }

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

}

// TABLET
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) and (max-width: @MQ-Medium) {

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

}

} .stage-styles();