.story-styles() when not (@MODULE-Story) { }
.story-styles() when (@MODULE-Story) {

/* =========================================================================
// STORY
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@STORY-BgColor:				@COLOR-White;
@STORY-CiteColor:			@TYPE-FontColor;

// BASE
// ----------------------------------------------------

.story {
	background-clip: padding-box;
	background-color: @STORY-BgColor;
	._margin (10, 0, 20 ,0);
	._padding (20);
	._border-radius (2);
	._depth-1 ();
}

.story__title {
	._font-size-heading (@TYPE-SIZE-Beta);
}

.story__body {
	._margin-bottom (20);
}

.story__actions {
	border-top: 1px solid darken(@STORY-BgColor, 5%);
	._margin-top (15);
	._padding-top (20);
}

.story-ident {
	._margin-bottom (20);
	._clearfix ();
}
.story-ident__avatar-link {
	display: block;
	position: relative;
	float: left;
	border: 1px solid darken(@STORY-BgColor, 5%);
	._margin-right (20);
}

.story-cite {
	border: 1px solid darken(@STORY-BgColor, 5%);
	._margin (10, 0, 20, 0);
	._border-radius (2);
}

.story-cite__image {
	width: 100%;
}

.story-cite__content {
	display: block;
	._padding (20);
}

.story-cite__link {
	color: lighten(@STORY-CiteColor, 30%);
	display:block;
	text-decoration: none;

	&:link {
		color: lighten(@STORY-CiteColor, 30%);
	}

	&:visited {
		color: lighten(@STORY-CiteColor, 30%);
	}

	&:hover {}
	&:focus {}
	&:active {}
}

} .story-styles();