/* =========================================================================
// TABLE
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@TABLE-HeadColor:                   @COLOR-GreyDark;
@TABLE-HeadBgColor:                 @COLOR-White;
@TABLE-BorderColor:                 @COLOR-GreyLighter;
@TABLE-HeadFontFamily:              @TYPE-HeadingsFontFamily;

// BASE
// ----------------------------------------------------

// STANDARD TABLE NOT IN A LIST
// ----------------------------------------------------

table {

    th,
    td {
        ._padding (20, 15, 20, 15);
        border: 1px solid @TABLE-BorderColor;
        text-align: left;
    }

    tr:nth-child(odd) {
        background-color: #f6f6f6;
    }

    tr:nth-child(even) {
        background-color: #FFFFFF;
    }
}


// TABLE USED ON A LIST
// ----------------------------------------------------

.table {
    padding: 0;
    ._margin (0, 0, @TYPE-LineHeight, 0);
    .block;
}
.table__row {
    list-style: none;
    border: 1px solid @TABLE-BorderColor;
    border-top: none;
    ._clearfix();
}

.table__header {
    color: @TABLE-HeadColor;
    background-color: @TABLE-HeadBgColor;
    font-family: @TABLE-HeadFontFamily;
    border-top: 1px solid @TABLE-BorderColor;
    ._font-size (14);
}

.table__header-cell {
    border-right: 0;
    word-w: normal;
}

.table__cell {
    min-height: 100%; // Incase cell is empty
    border-right: 0px solid @TABLE-BorderColor;
    word-w: break-word;
    ._padding (10);

    &:last-child {
        border-right: none;
    }
}

.centered {
    text-align: center;
}


// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

}

// TABLET
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) and (max-width: @MQ-Medium) {

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

}