.tabs-styles() when not (@MODULE-Tabs) { }
.tabs-styles() when (@MODULE-Tabs) {

/* ==========================================================================
// TABS
// =========================================================================*/

.tabs {}

.tabs__tray {
    background-color: @COLOR-Grey;
    ._clearfix();

}

.tabs__content {
    .inactive {
        display:none;
    }
}

.tabs__body {}

.list__tabs {
    padding:0;
    margin:0;
    list-style: none;

    .list__item {
        display:inline;
    }
    .list__link {
        background-color: @COLOR-White;
        ._padding(5,10);
        ._inline-block();
    }

    .active {
        background-color: orange;
    }
}

} .tabs-styles();