.tabs-styles() when not (@MODULE-Tabs) { }
.tabs-styles() when (@MODULE-Tabs) {

/* =========================================================================
// TABS
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@TABS-TrayBgColor:          spin(@COLOR-Base, 180);
@TABS-Color:                @COLOR-White;
@TABS-BgColor:              @TABS-TrayBgColor;
@TABS-HoverColor:           @COLOR-White;
@TABS-HoverBgColor:         lighten(@TABS-BgColor, 5%);
@TABS-ActiveColor:          @TYPE-FontColor;
@TABS-ActiveBgColor:        @COLOR-White;

// BASE
// ----------------------------------------------------

.tabs {}

.tabs__tray {
    background-color: @TABS-TrayBgColor;
    ._clearfix();
}

.tabs__content {
    background-color: @TABS-ActiveBgColor;
    ._padding (@TYPE-LineHeight);

    .inactive {
        display: none;
    }
}

.tabs__body {}

.list__tabs {
    .list__item {
        display: inline-block;
        float: left;
    }

    .list__link {
        color: @TABS-Color;
        background-color: @TABS-BgColor;
        text-decoration: none;
        ._padding (@TYPE-LineHeight/4, @TYPE-LineHeight);
        ._inline-block();
        ._transition (all, 0.1s);

        &:hover {
            color: @TABS-HoverColor;
            background-color: @TABS-HoverBgColor;
        }
    }

    .active {
        color: @TABS-ActiveColor;
        background-color: @TABS-ActiveBgColor;
    }
}

// VARIANTS
// ----------------------------------------------------

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

    .list__tabs {
        .list__item {
            width: 100%;
        }

        .list__link {
            width: 100%;
        }
    }

}

// TABLET
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) and (max-width: @MQ-Medium) {

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

}

} .tabs-styles();