.tabs-styles() when not (@MODULE-Tabs) { }
.tabs-styles() when (@MODULE-Tabs) {

/* =========================================================================
// TABS
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@TABS-TrayBgColor:          spin(@COLOR-Base, 180);
@TABS-Color:                @COLOR-White;
@TABS-BgColor:              @TABS-TrayBgColor;
@TABS-HoverColor:           @COLOR-White;
@TABS-HoverBgColor:         lighten(@TABS-BgColor, 5%);
@TABS-ActiveColor:          @TYPE-FontColor;
@TABS-ActiveBgColor:        @COLOR-GreyLighter;

// BASE
// ----------------------------------------------------

.tabs {
    background-color: @TABS-ActiveBgColor;
    ._margin-bottom (@TYPE-LineHeight);
    ._clearfix();

    &:last-child {
        margin-bottom: 0;
    }
}

.tabs__tray {
    background-color: @TABS-TrayBgColor;
    ._clearfix();
}

.tabs__content {
    background-color: @TABS-ActiveBgColor;
    ._padding (@TYPE-LineHeight);

    .inactive {
        display: none;
    }
}

.list__tabs {
    .list__item {
        float: left;
        ._inline-block();
    }

    .list__link {
        color: @TABS-Color;
        background-color: @TABS-BgColor;
        text-decoration: none;
        ._inline-block();
        ._padding (@TYPE-LineHeight/4, @TYPE-LineHeight);
        ._transition (all, 0.1s);

        &:hover {
            color: @TABS-HoverColor;
            background-color: @TABS-HoverBgColor;
        }
    }

    .active {
        color: @TABS-ActiveColor;
        background-color: @TABS-ActiveBgColor;

        &:hover {
            color: @TABS-ActiveColor;
            background-color: @TABS-ActiveBgColor;
        }
    }
}

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

    .list__tabs {
        .list__item {
            width: 100%;
        }

        .list__link {
            width: 100%;
        }
    }

}

// TABLET & UP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) {

    .tabs {
        &.vertical {
            .tabs__tray {
                display: table-cell;
                width: 200px;
            }

            .tabs__content {
                display: table-cell;
                vertical-align: top;
            }

            .list__tabs {
                .list__item {
                    display: block;
                    width: 100%;
                }

                .list__link {
                    width: 100%;
                }
            }
        }
    }

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

}

} .tabs-styles();