.toast-styles() when not (@MODULE-Toast) { }
.toast-styles() when (@MODULE-Toast) {

/* =========================================================================
// TOAST
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@TOAST-Color:                       @COLOR-White;
@TOAST-BgColor:                     @COLOR-Grey;
@TOAST-ProgressColor:               @COLOR-GreyDark;

@TOAST-InfoBgColor:                 @COLOR-Blue;
@TOAST-InfoProgressColor:           @COLOR-BlueDark;
@TOAST-SuccessBgColor:              @COLOR-Green;
@TOAST-SuccessProgressColor:        @COLOR-GreenDark;
@TOAST-WarnBgColor:                 @COLOR-Orange;
@TOAST-WarnProgressColor:           @COLOR-OrangeDark;
@TOAST-DangerBgColor:               @COLOR-Red;
@TOAST-DangerProgressColor:         @COLOR-RedDark;

@TOAST-Anim:                        @ANIM-Curve;

// BASE
// ----------------------------------------------------

.toast {
    background-color: @TOAST-BgColor;
    color: @TOAST-Color;
    position: relative;
    max-width: 320px;
    ._padding (@TYPE-FontSize);

    + .toast {
        ._margin-top (10);
    }

    &.popup {
        position: fixed;
        bottom: -100px;
        right: 20px;
        z-index: @Z-INDEX-Level9;
        ._transition (bottom, 0.5s, @ACCORDION-Anim);
        ._depth-3();
        ._margin-left (20);

        &.activating {
            bottom: 20px;
        }

        &.active {
            bottom: 20px;
        }

        &.inactive {

        }
    }
    
    &.info {
        background-color: @TOAST-InfoBgColor;

        .toast__close {
            color: lighten(@TOAST-InfoBgColor, 20%);

            &:link,
            &:visited {
                color: lighten(@TOAST-InfoBgColor, 20%);
            }

            &:hover,
            &:focus {
                color: darken(@TOAST-InfoBgColor, 20%);
            }

            &:active {
                color: darken(@TOAST-InfoBgColor, 40%);
            }
        }

        .toast__progress {
            background-color: @TOAST-InfoProgressColor;
        }
    }

    &.success {
        background-color: @TOAST-SuccessBgColor;
        
        .toast__close{
            color: lighten(@TOAST-SuccessBgColor, 20%);

            &:link,
            &:visited {
                color: lighten(@TOAST-SuccessBgColor, 20%);
            }

            &:hover,
            &:focus {
                color: darken(@TOAST-SuccessBgColor, 20%);
            }

            &:active {
                color: darken(@TOAST-SuccessBgColor, 40%);
            }
        }

        .toast__progress {
            background-color: @TOAST-SuccessProgressColor;
        }
    }

    &.warn {
        background-color: @TOAST-WarnBgColor;
        
        .toast__close{
            color: lighten(@TOAST-WarnBgColor, 20%);

            &:link,
            &:visited {
                color: lighten(@TOAST-WarnBgColor, 20%);
            }

            &:hover,
            &:focus {
                color: darken(@TOAST-WarnBgColor, 20%);
            }

            &:active {
                color: darken(@TOAST-WarnBgColor, 40%);
            }
        }

        .toast__progress {
            background-color: @TOAST-WarnProgressColor;
        }
    }

    &.danger {
        background-color: @TOAST-DangerBgColor;
        
        .toast__close {
            color: lighten(@TOAST-DangerBgColor, 20%);

            &:link,
            &:visited {
                color: lighten(@TOAST-DangerBgColor, 20%);
            }

            &:hover,
            &:focus {
                color: darken(@TOAST-DangerBgColor, 20%);
            }

            &:active {
                color: darken(@TOAST-DangerBgColor, 40%);
            }
        }

        .toast__progress {
            background-color: @TOAST-DangerProgressColor;
        }
    }
}

.toast__icon {
    float: left;
    ._margin-right (10);

    .icon {
        line-height: 1;
    }
}

.toast,
.toast__content {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}

.toast__content {
    ._padding-right (20);
}

.toast__close {
    color: lighten(@TOAST-BgColor, 20%);
    font-weight: bold;
    text-decoration: none;
    float: right;
    display: block;
    line-height: 1;
    ._font-size (@TYPE-LineHeight);

    &:link,
    &:visited {
        color: lighten(@TOAST-BgColor, 20%);
    }

    &:hover,
    &:focus {
        color: darken(@TOAST-BgColor, 20%);
    }

    &:active {
        color: darken(@TOAST-BgColor, 40%);
    }
}

.toast__progress {
    background-color: @TOAST-ProgressColor;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
}

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

    .toast {
        max-width: none;
    }

}

} .toast-styles();