.well-styles() when not (@MODULE-Well) { }
.well-styles() when (@MODULE-Well) {

/* ==========================================================================
// WELL
// =========================================================================*/

// VARIABLES
// ----------------------------------------------------

@WELL-BgColor:                  @COLOR-GreyLight;

@WELL-InfoBgColor:              @COLOR-BlueLighter;
@WELL-WarnBgColor:              @COLOR-OrangeLighter;
@WELL-DangerBgColor:            @COLOR-RedLighter;
@WELL-SuccessBgColor:           @COLOR-GreenLighter;

// BASE
// ----------------------------------------------------

.well {
    background-color: @WELL-BgColor;
    display: block;
    ._padding (@TYPE-FontSize);
    ._margin (0, 0, @TYPE-LineHeight, @TYPE-LineHeight);
    ._border-radius ();
}

// STATUSES
// ----------------------------------------------------

.well {

	&.info {
    	background-color: @WELL-InfoBgColor;
	}
	&.warn {
    	background-color: @WELL-WarnBgColor;
    }
	&.danger {
    	background-color: @WELL-DangerBgColor;
    }
	&.success {
	    background-color: @WELL-SuccessBgColor;
	}
}

} .well-styles();