.well-styles() when not (@MODULE-Well) { }
.well-styles() when (@MODULE-Well) {

/* ==========================================================================
// WELL
// =========================================================================*/

// VARIABLES
// ----------------------------------------------------

@WELL-BgColor:                  @COLOR-GreyLight;

@WELL-InfoBgColor:              @COLOR-BlueLighter;
@WELL-WarnBgColor:              @COLOR-OrangeLighter;
@WELL-DangerBgColor:            @COLOR-RedLighter;
@WELL-SuccessBgColor:           @COLOR-GreenLighter;

// BASE
// ----------------------------------------------------

.well {
    background-color: @WELL-BgColor;
    display: block;
    ._padding (@TYPE-LineHeight/2, @TYPE-FontSize);
    ._margin (@TYPE-LineHeight, 0, @TYPE-LineHeight, 0);
    ._border-radius ();
}

// STATUSES
// ----------------------------------------------------

.well {

	&.info {
    	background-color: @WELL-InfoBgColor;
	}
	&.warn {
    	background-color: @WELL-WarnBgColor;
    }
	&.danger {
    	background-color: @WELL-DangerBgColor;
    }
	&.success {
	    background-color: @WELL-SuccessBgColor;
	}
    &.xsmall {
        ._font-size(@TYPE-SIZE-Iota - 2);
        ._padding (@TYPE-LineHeight/4, @TYPE-FontSize);
    }
    &.small {
        ._font-size(@TYPE-SIZE-Iota);
        ._padding (@TYPE-LineHeight/3, @TYPE-FontSize);
    }
    &.large {
        ._font-size(@TYPE-SIZE-Delta);
        ._padding (@TYPE-LineHeight*0.75, @TYPE-FontSize);}
    &.xlarge {
        ._font-size(@TYPE-SIZE-Gamma);
        ._padding (@TYPE-LineHeight, @TYPE-FontSize);}

}

} .well-styles();