/* =========================================================================
// ALLOY
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------



// Styles specifically only used by the toolkit site
// ----------------------------------------------------

.logo {
	display: inline-block;
}

.logo__image {
	height: 100%;
}

.gex {
	color: @COLOR-White;
	background-color: @COLOR-GreyLight;
	text-align: center;
	._font-size (12);
}

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

	.logo {
		height: 44px;
		._padding-top (4);
	}

}

// TABLET
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) and (max-width: @MQ-Medium) {

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

}