/* =========================================================================
// ALLOY
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

// Styles specifically only used by the toolkit site
// ----------------------------------------------------

.m--startup {
  .main {
    ._padding-top(@TYPE-LineHeight*2);
  }
}

.logo {
    ._inline-block();
}

.logo__image {
	height: 100%;
}

.gex {
	color: @COLOR-White;
	background-color: @COLOR-GreyLight;
	text-align: center;
	._font-size (12);
}

.list--alloythumbs {
	.list__item {
		float: left;
	}
}

.card--example {
	max-width: 500px;
	min-height: 400px;
}


.w--head {
  background-color: lighten(@NAVIGATION-BgColor, 30%);
  text-align: center;
  z-index: @Z-INDEX-Level6;
  ._padding (20, 10, 0, 10);
}

.w--nav {
  background-color: @NAVIGATION-BgColor;
  position: relative;
  z-index: @Z-INDEX-Level5;
  ._depth-2();
}

.w--main {
  ._padding (40, 0);
}

.w--foot {
  background-color: lighten(@COLOR-Base, 30%);
}

.w--copy {
  color: @COLOR-White;
  background-color: @COLOR-Base;

  a {
	&:link,
	&:visited,
	&:hover,
	&:active {
	  color: @COLOR-White;
	}
  }
}

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

	.logo {
		height: 44px;
		._padding-top (4);
	}

	.list--alloythumbs {
	    .list__item {
	        width: 48%;
	        margin-right: 4%;
	        ._margin-bottom (@TYPE-LineHeight);

	        &:nth-child(even) {
	          margin-right: 0;
	        }
	    }
	}


  .w--head {
	position: fixed;
	top: 0;
	text-align: left;
	._padding (0, 0, 0, 10);
	._depth-2();
  }

  .w--nav {
	display: none;
	position: fixed;
	top: 44px;
  }

  .w--main {
	._padding (44, 0, 0, 0);
  }

}

// TABLET+
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) {

	.list--alloythumbs {
	    .list__item {
	        width: 15%;
	        margin-right: 5%;
	        ._margin-bottom (@TYPE-LineHeight*2);

	        &:nth-child(5n+5) {
	          margin-right: 0;
	        }
	    }
	}

  .w--foot {
	._padding (20, 0);
  }

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

  .w--foot {
	._padding (40, 0);
  }
}