.navigation-styles() when not (@MODULE-Navigation) { }
.navigation-styles() when (@MODULE-Navigation) {

/* =========================================================================
// LIST NAVIGATION
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@NAV-BgColor:                   @COLOR-Base;
@NAV-Border:                    @COLOR-Base;
@NAV-TextColor:                 @COLOR-White;
@NAV-HoverBgColor:              lighten(@COLOR-Base, 10%);
@NAV-HoverBorder:               @COLOR-Base;
@NAV-HoverTextColor:            @COLOR-White;
@NAV-ActiveBorder:              @COLOR-Base;

// BASE
// ----------------------------------------------------

.list__navigation {
    ._clearfix ();

    .list__item {
        
    }

    .list__link {
        display: block;
        text-decoration: none;
        font-weight: bold;
    }
}

// VARIANTS
// ----------------------------------------------------

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

}

// TABLET
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) and (max-width: @MQ-Medium) {

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

}

} .navigation-styles();