.navigation-styles() when not (@MODULE-Navigation) { }
.navigation-styles() when (@MODULE-Navigation) {

/* =========================================================================
// NAVIGATION
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

@NAVIGATION-Color:                 		@COLOR-White;
@NAVIGATION-BgColor:                   	@COLOR-Base;
@NAVIGATION-HoverColor:            		@COLOR-White;
@NAVIGATION-HoverBgColor:              	lighten(@NAVIGATION-BgColor, 5%);
@NAVIGATION-ActiveBorder:             	@COLOR-Base;
@NAVIGATION-FontFamily:             	@TYPE-HeadingsFontFamily;

// BASE
// ----------------------------------------------------

.list__nav {
	font-family: @NAVIGATION-FontFamily;
    ._clearfix ();

    .list__item {

    }

    .list__link {
    	color: @NAVIGATION-Color;
    	display: block;
        text-decoration: none;
        line-height: 1;
        ._padding (@TYPE-LineHeight);
        ._font-size (@TYPE-SIZE-Gamma);
        ._transition (all, 0.1s);

        &:hover {
        	color: @NAVIGATION-HoverColor;
        	background-color: @NAVIGATION-HoverBgColor;
        }
    }

    .current {
    	color: @NAVIGATION-HoverColor;
        background-color: @NAVIGATION-HoverBgColor;
    }
}

// VARIANTS
// ----------------------------------------------------

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

    .list__nav {
        .list__link {
            text-align: center;
            ._padding (@TYPE-LineHeight/2);
        }
    }

}

// TABLET
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) {

    .list__nav {
        .list__item {
            float: left;
        }
    }

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

    .list__nav {
        ._padding (0, @TYPE-LineHeight/2);
    }

}

} .navigation-styles();