/* =========================================================================
// WRAPS
// =======================================================================*/

// VARIABLES
// ----------------------------------------------------

// BASE
// ----------------------------------------------------

.w {
	._padding (40, 0);
}

.w--header {
	background-color: lighten(@NAVIGATION-BgColor, 30%);
	text-align: center;
	._padding (20, 0, 0, 0);
}

.w--navigation {
	background-color: @NAVIGATION-BgColor;
	padding: 0;
	._box-shadow-custom(~"0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)");
}

.w--primary {}

.w--secondary {}

.w--footer {
	color: @COLOR-White;
	background-color: lighten(@COLOR-Base, 30%);
}

.w--copyright {
	color: @COLOR-White;
	background-color: @COLOR-Base;
	padding: 0;

	a {
		&:link,
		&:visited,
		&:hover,
		&:active {
			color: @COLOR-White;
		}
	}
}

// MOBILE
// ----------------------------------------------------

@media only screen and (max-width: @MQ-Small) {

}

// TABLET
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Medium-min) and (max-width: @MQ-Medium) {

}

// DESKTOP
// ----------------------------------------------------

@media only screen and (min-width: @MQ-Large-min) {

}