---
title: Alloy is working...
subtitle: mostly without any issues at all!
layout: startup.hbs

class-master: startup
---

{{> banner ALLOY_banner--welcome }}

<main class="main">
    <div class="g">
        <div class="c--1">
            {{> article ALLOY_article--welcome }}
        </div>
    </div>
</main>

<footer class="w w--foot">
    <div class="g">
        <div class="c--1">
            <div class="copyright" role="contentinfo">&copy; Copyright {{year}} ALLOY, The ALLOY Team, All rights reserved.</div>
            <small><strong>Last Built:</strong> {{now}}</small>
        </div>
    </div>
</footer>