---
title: Checklist


nav-title: "Checklist"
nav-text: "Checklist"
nav-variant: "checklist"
---

<main class="w w--main">
	<div class="g">
	    <div class="c__md--1">

  			<article class="article">
			    <header class="article__head head">
			        <h1 class="article__title">{{title}}</h1>
		        </header>
		        <div class="article__body rte">
		        	<p>Introduction to Checklist</p>
		        </div>
	        </article>

        </div>

        <div class="c__md--1">
        	<form id="checklist-form" method="POST">

	        	<ul class="list list--frameworks">
	        		<li class="list__item">
	        			<div id="Research" class="framework__title"><span>Research</span></div>

	        			<ul class="list list--cards">
		        			<li class="list__item">
			        			<div class="card card--framework">
									<div class="card__image">
										<img class="left" src="#" />
									</div>
									<div class="card__content">
										<label for="checkbox">TITLE</label>
										<div class="card__body rte">
											CONTENT
										</div>
									</div>
									<div class="card__actions">
										<input id="checkbox" type="checkbox" class="input input__check" />
									</div>
								</div>
		        			</li>

	        			</ul>

	        		</li>
        	</ul>

			</form>
        </div>
	</div>
</main>
