// ==========================================================================
// VARIABLES
// =========================================================================//

// SETUP
// =========================================================================//

// DEBUG
// ----------------------------------------------------

@DEBUG:                         false;
@DEBUGGER:						true;

// COLOURS
// ----------------------------------------------------

@COLOR-Black:					#000000;
@COLOR-White:					#FFFFFF;

@COLOR-RedLightest:				#F2BDC2;
@COLOR-RedLighter:				#FFCDD2;
@COLOR-RedLight:				#E57373;
@COLOR-Red:						#F44336;
@COLOR-RedDark:					#D32F2F;
@COLOR-RedDarker:				#B71C1C;
@COLOR-RedDarkest:				#B71C1C;

@COLOR-PinkLightest:			#ECC4E1;
@COLOR-PinkLighter:				#E4A0CF;
@COLOR-PinkLight:				#DA77BB;
@COLOR-Pink:					#CF4BA2;
@COLOR-PinkDark:				#A7347A;
@COLOR-PinkDarker:				#84255C;
@COLOR-PinkDarkest:				#681E46;

@COLOR-PurpleLightest:			#F3E5F5;
@COLOR-PurpleLighter:			#E1BEE7;
@COLOR-PurpleLight:				#BA68C8;
@COLOR-Purple:					#9C27B0;
@COLOR-PurpleDark:				#7B1FA2;
@COLOR-PurpleDarker:			#4A148C;
@COLOR-PurpleDarkest:			#4A148C;

@COLOR-IndigoLightest:			#E8EAF6;
@COLOR-IndigoLighter:			#C5CAE9;
@COLOR-IndigoLight:				#7986CB;
@COLOR-Indigo:					#3F51B5;
@COLOR-IndigoDark:				#303F9F;
@COLOR-IndigoDarker:			#1A237E;
@COLOR-IndigoDarkest:			#1A237E;

@COLOR-BlueLightest:			#E3F2FD;
@COLOR-BlueLighter:				#BBDEFB;
@COLOR-BlueLight:				#64B5F6;
@COLOR-Blue:					#2196F3;
@COLOR-BlueDark:				#1976D2;
@COLOR-BlueDarker:				#0D47A1;
@COLOR-BlueDarkest:				#0D47A1;

@COLOR-CyanLightest:			#E0F7FA;
@COLOR-CyanLighter:				#B2EBF2;
@COLOR-CyanLight:				#4DD0E1;
@COLOR-Cyan:					#00BCD4;
@COLOR-CyanDark:				#0097A7;
@COLOR-CyanDarker:				#006064;
@COLOR-CyanDarkest:				#006064;

@COLOR-TealLightest:			#E0F2F1;
@COLOR-TealLighter:				#B2DFDB;
@COLOR-TealLight:				#4DB6AC;
@COLOR-Teal:					#009688;
@COLOR-TealDark:				#00796B;
@COLOR-TealDarker:				#004D40;
@COLOR-TealDarkest:				#004D40;

// DONE
@COLOR-GreenLightest:			#DCECC9;
@COLOR-GreenLighter:			#C9E3A7;
@COLOR-GreenLight:				#B3D87F;
@COLOR-Green:					#9ACC54;
@COLOR-GreenDark:				#69A53A;
@COLOR-GreenDarker:				#458429;
@COLOR-GreenDarkest:			#2D6821;

// DONE
@COLOR-EmeraldLightest:			#B5E5C7;
@COLOR-EmeraldLighter:			#9CDDB4;
@COLOR-EmeraldLight:			#7ED19B;
@COLOR-Emerald:					#62C884;
@COLOR-EmeraldDark:				#41A158;
@COLOR-EmeraldDarker:			#297F39;
@COLOR-EmeraldDarkest:			#21652A;

// DONE
@COLOR-YellowLightest:			#EEE5BD;
@COLOR-YellowLighter:			#E8D692;
@COLOR-YellowLight:				#E0C663;
@COLOR-Yellow:					#D7B431;
@COLOR-YellowDark:				#B18A28;
@COLOR-YellowDarker:			#8D6821;
@COLOR-YellowDarkest:			#704E21;

// DONE
@COLOR-OrangeLightest:			#F7E0B6;
@COLOR-OrangeLighter:			#F6CF88;
@COLOR-OrangeLight:				#F5BC54;
@COLOR-Orange:					#F5A61D;
@COLOR-OrangeDark:				#D37A1B;
@COLOR-OrangeDarker:			#B2581C;
@COLOR-OrangeDarkest:			#924223;

// DONE
@COLOR-RustLightest:			#F7D1C0;
@COLOR-RustLighter:			    #F6B698;
@COLOR-RustLight:				#F5966B;
@COLOR-Rust:					#F5733A;
@COLOR-RustDark:				#D34A2B;
@COLOR-RustDarker:			    #B33025;
@COLOR-RustDarkest:			    #911E21;

// DONE
@COLOR-BrownLightest:			#B7A2A0;
@COLOR-BrownLighter:			#A1847F;
@COLOR-BrownLight:				#866259;
@COLOR-Brown:					#693D32;
@COLOR-BrownDark:				#442C27;
@COLOR-BrownDarker:				#2B2221;
@COLOR-BrownDarkest:			#1D1E21;

// DONE
@COLOR-GreyLightest:			#D7DAE0;
@COLOR-GreyLighter:				#C0C5CD;
@COLOR-GreyLight:				#A6ADB6;
@COLOR-Grey:					#8A949F;
@COLOR-GreyDark:				#556375;
@COLOR-GreyDarker:				#324156;
@COLOR-GreyDarkest:				#1D2C41;

@COLOR-Base:                    @COLOR-Blue;

// ANNIMATION CURVES
// ----------------------------------------------------

@ANIM-Curve:					~"cubic-bezier(0.4, 0, 0.2, 1)";

// DEPTH
// ----------------------------------------------------

@DEPTH-Level0:                  ~"0 0 0 0 rgba(0, 0, 0, 0.0)";
@DEPTH-Level1:                  ~"0 1px 4px 0 rgba(0, 0, 0, 0.37)";
@DEPTH-Level2:                  ~"0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2)";
@DEPTH-Level3:                  ~"0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19)";
@DEPTH-Level4:                  ~"0 20px 40px 0 rgba(0, 0, 0, 0.3), 0 14px 12px 0 rgba(0, 0, 0, 0.17)";
@DEPTH-Level5:                  ~"0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15)";

// Z-INDEX
// ----------------------------------------------------

@Z-INDEX-Level0:				0;		// Page
@Z-INDEX-Level1:				100;	// Page
@Z-INDEX-Level2:				200;	// Page
@Z-INDEX-Level3:				300;	// Page
@Z-INDEX-Level4:				400;	// Alerts
@Z-INDEX-Level5:				500;	// Navigation
@Z-INDEX-Level6:				600;	// Header
@Z-INDEX-Level7:				700;	// Takeover
@Z-INDEX-Level8:				800;	// Flyout
@Z-INDEX-Level9:				900;	// Toast
@Z-INDEX-Level10:				2000;	// System

// TYPOGRAPHY
// ----------------------------------------------------

@TYPE-FontSize:                 16;
@TYPE-LineHeight:               24;
@TYPE-FontFamily:               Arial, Helvetica, sans-serif;
@TYPE-MonoSpaceFontFamily:      Consolas, monospace;
@TYPE-FontColor:                @COLOR-GreyDarker;
@TYPE-HeadingsFontFamily:       serif;
@TYPE-HeadingsColor:            @COLOR-GreyDarker;

@TYPE-SIZE-Omega:               60;
@TYPE-SIZE-Alpha:               40;
@TYPE-SIZE-Beta:                28;
@TYPE-SIZE-Gamma:               20;
@TYPE-SIZE-Delta:               18;
@TYPE-SIZE-Epsilon:             16;
@TYPE-SIZE-Zeta:                15;
@TYPE-SIZE-Eta:                 14;
@TYPE-SIZE-Iota:                12;

@TYPE-CodeFontFamily:           Monaco, Courier New, monospace, serif;

// GRID
// ----------------------------------------------------

@GRID-MaxWidth:                 980;
@GRID-GutterWidth:              20;
@GRID-MobileGutterWidth:        10;

// MEDIA QUERIES
// ----------------------------------------------------

@MQ-Smallest:                 ((339/16)*1em);  // Phone Portrait     = 21.1875
@MQ-Small-min:                ((340/16)*1em);  //                    = 21.25
@MQ-Small:                    ((600/16)*1em);  // Tablet Portrait    = 37.5
@MQ-Medium-min:               ((601/16)*1em);  //                    = 37.5625
@MQ-Medium:                   ((800/16)*1em);  // Min Tab Landscape  = 50
@MQ-Large-min:                ((801/16)*1em);  //                    = 50.0625
@MQ-Large:                    ((980/16)*1em);  // Average PC Monitor = 61.25
@MQ-Larger-min:               ((981/16)*1em);  //                    = 61.3125
@MQ-Larger:                   ((1260/16)*1em); // HD TV              = 78.75
@MQ-Largest-min:              ((1261/16)*1em); //                    = 78.8125
@MQ-Largest:                  ((1900/16)*1em); // Full HD TV         = 118.75

// PATHS
// ----------------------------------------------------

@PATH-Assets:                   "../";
@PATH-Images:                   "../img/";
@PATH-Fonts:                    "../fonts/";

// BASE MODULES
// Change to false if not using
// =========================================================================//

@MODULE-Accordion:              true;
@MODULE-Alert:                  true;
@MODULE-Badge:                  true;
@MODULE-Banner:                 true;
@MODULE-Box:                    true;
@MODULE-Breadcrumbs:            true;
@MODULE-Browsehappy:            true;
@MODULE-Button:                 true;
@MODULE-Card:                   true;
@MODULE-Cardslider:             true;
@MODULE-Column:                 true;
@MODULE-Flash:                  true;
@MODULE-Focus:                  true;
@MODULE-Form:                   true;
@MODULE-Icon:                   true;
@MODULE-HoverCard:				true;
@MODULE-Gmap:					true;
@MODULE-Image:                  true;
@MODULE-Label:                  true;
@MODULE-Map:                    true;
@MODULE-Gridify:                true;
@MODULE-Media:                  true;
@MODULE-Modal:                  true;
@MODULE-Navigation:             true;
@MODULE-Overlay:                true;
@MODULE-Pagination:             true;
@MODULE-Panel:					true;
@MODULE-Popover:				true;
@MODULE-Print:                  true;
@MODULE-Story:             		true;
@MODULE-RTE:					true;
@MODULE-Tabs:                   true;
@MODULE-Toast:                  true;
@MODULE-Tooltip:                true;
@MODULE-Typography:             true;
@MODULE-Well:                   true;