{{#this}}
<div class="alert{{#if attribute.modifier}} alert--{{attribute.modifier}}{{/if}}{{#if attribute.status}} {{attribute.status}}{{/if}}">
	<a href="#" class="alert__close">&times;</a>
	{{#if content.icon}}<div class="alert__icon">{{#each content.icon}}{{#this}}{{>icon}}{{/this}}{{/each}}</div>{{/if}}
	<div class="alert__content">
		{{#if content.title}}<div class="alert__title">{{content.title}}</div>{{/if}}
		{{#if content.body}}<div class="alert__body rte">{{{content.body}}}</div>{{/if}}
	</div>
</div>
{{/this}}