
<!-- JavaScript -->
<script data-main="app/main" src="{{ assets }}/js/libs/require/require.js"></script>
<!-- GitHub Buttons -->
<script async defer id="github-bjs" src="//buttons.github.io/buttons.js"></script>

<script type="text/JavaScript">
	require(["ink", "equalizer", "sticky"], function() {
		setTimeout(function(){
			$(".w--foot .panel").equalizer({
		        minimumWidth: 601,                  // The minimum width at which resizing will still occur
		        applyWhat: "padding-bottom",        // The style to apply the difference in height to
		        applyTo: ".panel__body"       		// The element on which to apply the style to
			});
		}, 2000);
	});
</script>

{{#if js-accordion}}
<script type="text/JavaScript">
	require(["accordion"], function() {
		$(".accordion").accordion({
			onChangeFunc: function($title, $content, toOpen) {
				if (toOpen) {
                	$title.find(".icon").addClass("icon--round53").removeClass("icon--round57");
                } else {
                	$title.find(".icon").addClass("icon--round57").removeClass("icon--round53");
                }
			}
		});
	});
</script>
{{/if}}

{{#if js-tabs}}
<script type="text/JavaScript">
	require(["tabs"], function() { });
</script>
{{/if}}

{{#if js-toast}}
<script type="text/JavaScript">
 	require(["toastrack", "mustacheretriever"], function() {
 		$(".toast-trigger").click(function(e) {
 			e.preventDefault();

			$.configretriever("toast", undefined, undefined, undefined,
				{ success: function(config) {
					$.mustacheretriever("toast", config.content, function(html) {
						ALLOY.Toastrack.add({html: html});
					});
				}
			});
 		});
 	});
</script>
{{/if}}

{{#if js-flash}}
<script type="text/JavaScript">
	require(["flash", "mustacheretriever"], function() {
 		$(".flash-trigger").click(function(e) {
 			e.preventDefault();

			$.configretriever("flash", undefined, undefined, undefined,
				{ success: function(config) {
					$.mustacheretriever("flash", config, function(html) {
						$.flash({html: html});
					});
				}
			});
 		});
 	});
</script>
{{/if}}

{{#if js-cardflipper}}
<script type="text/JavaScript">
	require(["cardflipper"], function() {
		$(".card").cardflipper();
	});
</script>
{{/if}}

{{#if js-gmap}}
<script type="text/JavaScript">
	require(["gmap"], function() {
		$(".gmap").gmap();
	});
</script>
{{/if}}

{{#if js-gridder}}
<script type="text/JavaScript">
	require(["gridder"], function() {
		// Set default spacing
		var startSpacing = 20;
		var startColumns = 4;
		if (window.innerWidth <= 1000) {
			startSpacing = 0;
			startColumns = 3
		} else if (window.innerWidth > 1200) {
			startSpacing = 25;
			startColumns = 6;
		}

		// Init gridder
		$(".gridder").gridder({
			verticalSpace: startSpacing,
			horizontalSpace: startSpacing,
			columns: startColumns
		});

		// Get gridder from the elements data attr
		var gridder = $(".gridder").data("gridder");

		// On resize overwrite the settings for spacing
		$(window).resize(function() {
			if (window.innerWidth <= 1000) {
				gridder.changeSettings({
					verticalSpace: 0,
					horizontalSpace: 0,
					columns: 3
				});
			} else if (window.innerWidth > 1200) {
				gridder.changeSettings({
					verticalSpace: 25,
					horizontalSpace: 25,
					columns: 6
				})
			} else {
				gridder.changeSettings({
					verticalSpace: 20,
					horizontalSpace: 20,
					columns: 4
				})
			}
		});
	});
</script>
{{/if}}


{{#if js-cardslider}}
<script type="text/JavaScript">
	require(["cardslider", "equalizer"], function() {

		var equalizeSliderCards = function() {
		    $(".cardslider .card").equalizer({
		        minimumWidth: 601,                  // The minimum width at which resizing will still occur
		        applyWhat: "padding-bottom",        // The style to apply the difference in height to
		        applyTo: ".card__body"       		// The element on which to apply the style to
		    });
		};

		equalizeSliderCards();
		$(".cardslider").cardslider({
			onScreenResize: equalizeSliderCards
		});

	});
</script>
{{/if}}

{{#if js-gridify}}
<script type="text/JavaScript">
	require(["gridify", "equalizer"], function() {
		var equalizeMasonryCards = function() {
		    $(".card--gridify").equalizer({
		        minimumWidth: 601,                  // The minimum width at which resizing will still occur
		        applyWhat: "padding-bottom",        // The style to apply the difference in height to
		        applyTo: ".card__body"       		// The element on which to apply the style to
		    });
		};

		equalizeMasonryCards();
		$(".gridify").gridify({
            cardSelector: ".card", // The selector for cards within this.$element
	        activeClass: "active",
	        transitionClass: "deactivating",
	        inactiveClass: "inactive",
	        transitionLength: 400,
	        noItemsEl: '<div class="alert alert--info">There were no results for your current search.  Try adjusting your search options.</div>',
	        searchArgs: { randomise: false },
	        // Example search function to randomly select which elements to display
	        searchFunction: function ($cards, searchArgs) {
	            var matches = [];
	            var nonmatches = [];

	            $cards.each(function() {
	                if (searchArgs.randomise === false || Math.random() > 0.5) { matches.push(this); }
	                else { nonmatches.push(this); }
	            });

	            var results = { $matches: $(matches), $nonmatches: $(nonmatches) };
	            return results;
	        },
		});

		$(".gridify__control.randomise").click(function(e) {
			e.preventDefault();
	        $(".gridify").gridify({ randomise: true });
		});

		$(".gridify__control.reset").click(function(e) {
			e.preventDefault();
	        $(".gridify").gridify({ randomise: false });
		});

		$(window).resize(function() {
			equalizeMasonryCards();
	        $(".gridify").gridify();
		});
	});
</script>
{{/if}}

{{#if js-modal}}
<script>
	require(["modal"], function() {
		$(".modal--alt").modal({
            content: '<div class="g"><div class="c__lg--1"><div class="panel full"><h1>A Title</h1>This is another modal! It&#39;s got some content in it...<br>And that content was set in the javascript initialising this button for modal-ing.<br /><a href="#" class="button close-modal-content">Close</a></div></div></div>',

            maskClass: "modal__mask",
            maskActiveClass: "modal__mask--visible",
            maskTransitionLength: 500,

            modalClass: "modal__content",
            modalActiveClass: "modal__content--visible",
            modalTransitionLength: 250,

            closeButtonSelector: ".close-modal-content"
		})
	});
</script>
{{/if}}

{{#if js-modeless}}
<script>
	require(["modeless"], function() {

	});
</script>
{{/if}}


{{#if js-scrollbar}}
<script>
	require(["scrollbar"], function() {
		$(".scrollable").scrollbar({

		});
	});
</script>
{{/if}}

{{#if js-scrollbar}}
<script>
	require(["stage"], function() {
		$(".stage").stage({

		});
	});
</script>
{{/if}}


<!-- Example functionality -->
<script>
	require(["examples/example.watchdog"], function(){ });
</script>

{{#dev}}
<script src="http://localhost:35730/livereload.js"></script>
{{/dev}}

<!-- Google Analytics -->
<script>
    var _gaq=[['_setAccount','{{app.analytics}}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>