<footer class="w w--foot">
	<div class="g">
	
		<div class="c__md--1-3 c__lg--1-3">
			{{>panel ALLOY_panel--messageus}}
		</div>
	
		<div class="c__md--1-3 c__lg--1-3">
			{{>panel panel}}
		</div>
		
		<div class="c__md--1-3 c__lg--1-3">
			{{>panel panel}}
		</div>

	</div>
</footer>