<ul class="list list__navigation list__navigation--main">
    {{#withSort pages "data.mainmenu"}}
        {{#if data.mainmenu }}
            {{#this}}
                <li class="list__item"><a class="list__link{{#if page.nav-variant}} list__link--{{data.nav-variant}}{{/if}}{{#is ../../../page.dest this.dest}} current{{/is}}" href="{{relative ../../../page.dest this.dest}}" title="{{data.nav-title}}">{{capitalizeFirst data.nav-text}}</a></li>
            {{/this}}
        {{/if}}
    {{/withSort}}
</ul>