<div class="w w--footer">
	<div class="g">
	
		<div class="c__md--1-3 c__lg--1-3">
			{{>panel ALLOY_panel--messageus}}
		</div>
	
		<div class="c__md--1-3 c__lg--1-3">
			<div class="panel">
				<div class="panel__title"></div>
				<div class="panel__body"></div>
				<div class="panel__actions"></div>
			</div>
		</div>
		
		<div class="c__md--1-3 c__lg--1-3">
			<div class="panel">
				<div class="panel__title"></div>
				<div class="panel__body"></div>
				<div class="panel__actions"></div>
			</div>
		</div>

	</div>
</div>