<div class="debugger">
    <div class="debugger__head"><em>Debugger</em></div>
    <div class="debugger__body">
        <ul class="list list__debugger"></ul>
    </div>
</div>

<script type="text/javascript">
    require(['logging'], function() {
        ALLOY.Logger.alterConfig({ 
            logToScreenFunc : function(ev) {
                $(".list__debugger").append(
                    "<li class=\"list__item " + ev.level.toLowerCase() + "\"><strong>" + ev.timeStr() + "</strong> " + ev.message + "</li>"
                );
            }
        });
    });
</script>