
<!-- JavaScript -->
<script data-main="app/main" src="{{ assets }}/js/libs/require/require.js"></script>
<!-- GitHub Buttons -->
<script async defer id="github-bjs" src="//buttons.github.io/buttons.js"></script>

<script type="text/JavaScript">
	require(["ink", "equalizer", "sticky"], function() {
		setTimeout(function(){
			$(".w--foot .panel").equalizer({
		        minimumWidth: 601,                  // The minimum width at which resizing will still occur
		        applyWhat: "padding-bottom",        // The style to apply the difference in height to
		        applyTo: ".panel__body"       		// The element on which to apply the style to
			});
		}, 2000);
	});
</script>

{{#if js-cardfader}}
<script type="text/JavaScript">
	require(["cardfader"], function() { });
</script>
{{/if}}

{{#if js-sideslider}}
<script type="text/JavaScript">
	require(["sideslider"], function() {

		var slider;

    	$(".sideslider").sideslider({
    		onOutroComplete: function() { slider.public.triggerIntro(); }
    	});

		slider = $(".sideslider").data("sideslider");

		$(".sliderintro").click(function(e) {
			e.preventDefault();
			slider.public.triggerIntro();
		});

		$(".slideroutro").click(function(e) {
			e.preventDefault();
			slider.public.triggerOutro();
		});

	});
</script>
{{/if}}

{{#if js-scrollspy}}
<script type="text/JavaScript">
	require(["scrollspy"], function() { });
</script>
{{/if}}

{{#if js-accordion}}
<script type="text/JavaScript">
	require(["accordion"], function() {
		$(".accordion").accordion({
			onChangeFunc: function($title, $content, toOpen) {
				if (toOpen) {
                	$title.find(".icon").addClass("icon--round53").removeClass("icon--round57");
                } else {
                	$title.find(".icon").addClass("icon--round57").removeClass("icon--round53");
                }
			}
		});
	});
</script>
{{/if}}

{{#if js-tabs}}
<script type="text/JavaScript">
	require(["tabs"], function() { });
</script>
{{/if}}

{{#if js-toast}}
<script type="text/JavaScript">
 	require(["toastrack", "mustacheretriever"], function() {
 		$(".toast-trigger").click(function(e) {
 			e.preventDefault();

			$.configretriever("toast", undefined, undefined, undefined,
				{ success: function(config) {
					$.mustacheretriever("toast", config.content, function(html) {
						ALLOY.Toastrack.add({html: html});
					});
				}
			});
 		});
 	});
</script>
{{/if}}

{{#if js-flash}}
<script type="text/JavaScript">
	require(["flash", "mustacheretriever"], function() {
 		$(".flash-trigger").click(function(e) {
 			e.preventDefault();

			$.configretriever("flash", undefined, undefined, undefined,
				{ success: function(config) {
					$.mustacheretriever("flash", config, function(html) {
						$.flash({html: html});
					});
				}
			});
 		});
 	});
</script>
{{/if}}

{{#if js-cardflipper}}
<script type="text/JavaScript">
	require(["cardflipper"], function() {
		$(".card").cardflipper();
	});
</script>
{{/if}}

{{#if js-gmap}}
<script type="text/JavaScript">
	require(["gmap"], function() {
		$(".gmap").gmap();
	});
</script>
{{/if}}

{{#if js-gridder}}
<script type="text/JavaScript">
	require(["gridder"], function() {

		var beforeResize = function(gridder) {
			if (window.innerWidth < 400) {
				gridder.changeSettings({ verticalSpace: 5, horizontalSpace: 5, columns: 1 });
			} else if (window.innerWidth < 750) {
				gridder.changeSettings({ verticalSpace: 0, horizontalSpace: 0, columns: 5 });
			} else if (window.innerWidth < 1250) {
				gridder.changeSettings({ verticalSpace: 10, horizontalSpace: 10, columns: 5 });
			} else {
				gridder.changeSettings({ verticalSpace: 20, horizontalSpace: 20, columns: 5 });
			}
		};

		// Init gridder
		$(".gridder").gridder({
			beforeResize: beforeResize
		});

		var gridder = $(".gridder").data("gridder");

		/* Update the heights of the cards in the first gridder */
		$(".updateGridderWithHeight").click(function(e) {
			e.preventDefault();
			var height = parseInt($("#height").val());
			gridder.changeSettings({ minHeight: height });
			gridder.update();
		});

		$(window).load(function() {
			// Gridder alt example
			$(".gridder--alt").gridder({
				columns: 3,
				heights: [
					"small",
				 	"normal",
				 	"tall",
				 	"taller"
			 	],
				minHeight: null,
				calculateHeights: true
			});

			var altgridder = $(".gridder--alt").data("gridder");

			/* Randomise the cards in the alternate grid */
			$(".randomisegrid").click(function(e) {
				e.preventDefault();
				// Todo - find why this is triggering twice?!?!/
				var $cards = $(".gridder--alt .card--gridder");
				for(var i = 0; i < $cards.length; i++) {
					var rand = Math.random();
					if (rand < 0.5) {
						$($cards[i]).toggleClass("ignore");
					}
				}

				altgridder.update();
			});

			/* Reset the cards in the alternate grid */
			$(".resetgrid").click(function(e) {
				e.preventDefault();
				var $cards = $(".gridder--alt .card--gridder").removeClass("ignore");
				altgridder.update();
			});
		});
	});
</script>
{{/if}}

{{#if js-cardslider}}
<script type="text/JavaScript">
	require(["cardslider", "equalizer"], function() {

		var equalizeSliderCards = function() {
		    $(".cardslider .card").equalizer({
		        minimumWidth: 601,                  // The minimum width at which resizing will still occur
		        applyWhat: "padding-bottom",        // The style to apply the difference in height to
		        applyTo: ".card__body"       		// The element on which to apply the style to
		    });
		};

		equalizeSliderCards();
		$(".cardslider").cardslider({
			onScreenResize: equalizeSliderCards,
			beforeScroll: function(index) {
				console.log("BEFORE sliding to: " + index);
			},
			afterScroll: function(index) {
				console.log("AFTER sliding to: " + index);
			}
		});

	});
</script>
{{/if}}

{{#if js-modal}}
<script>
	require(["modal"], function() {
		$(".modal--alt").modal({
            content: '<div class="g"><div class="c__lg--1"><div class="panel full"><h1>A Title</h1>This is another modal! It&#39;s got some content in it...<br>And that content was set in the javascript initialising this button for modal-ing.<br /><a href="#" class="button close-modal-content">Close</a></div></div></div>',

            maskClass: "modal__mask",
            maskActiveClass: "modal__mask--visible",
            maskTransitionLength: 500,

            modalClass: "modal__content",
            modalActiveClass: "modal__content--visible",
            modalTransitionLength: 250,

            closeButtonSelector: ".close-modal-content"
		})
	});
</script>
{{/if}}

{{#if js-modeless}}
<script>
	require(["modeless"], function() {

	});
</script>
{{/if}}


{{#if js-scrollbar}}
<script>
	require(["scrollbar"], function() {
		$(".scrollable").scrollbar({

		});
	});
</script>
{{/if}}

{{#if js-scrollbar}}
<script>
	require(["stage"], function() {
		$(".stage").stage({

		});
	});
</script>
{{/if}}

{{#if js-banner}}
<script>
	require(["jquery"], function() {
		var setCardBlurWidth = function() {
		    $(".blurMask__width").each(function() {
		        var width = $(this).closest(".blurMask").width();
		        $(this).css({ width: width + "px" });
		    });
		};

		setCardBlurWidth();
		$(window).resize(setCardBlurWidth);
	});
</script>
{{/if}}

<!-- Example functionality -->
<script>
	require(["examples/example.watchdog"], function() { });
</script>

{{#if js-animations}}
<script type="text/JavaScript">
	require(["animate", "examples/example.animations"], function() { });
</script>
{{/if}}

<script src="http://localhost:35730/livereload.js"></script>

<!-- Google Analytics -->
<script>
    var _gaq=[['_setAccount','{{app.analytics}}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>