<div class="w w--nav">
	<div class="g g--nogutter">
		<div class="c__lg--1">
	    	<nav id="navigation" role="navigation" class="drawer">
		        {{>ALLOY_list__nav--main}}
	    	</nav>
	    </div>
	</div>
</div>