<header id="header" role="banner" class="w w--header">
	<div class="g g--nogutter">
		<div class="c__lg--1">
			<a href="/" class="link link--logo" title="Alloy"><img src="/assets/img/logo-header.png" class="link__image" alt="Alloy" /></a>
			<a class="button__mobile button__mobile--navigation"><span></span></a>
			<a class="button__totop"><i class="icon icon--up176"></i></a>
		</div>
	</div>
</header>