<div class="w w--copy">
    <div class="g">
        <div class="c__lg--1">
            <div class="copyright" role="contentinfo">&copy; Copyright {{year}} ALLOY, The ALLOY Team, All rights reserved.</div>
            <small><strong>Last Built:</strong> {{now}}</small>
        </div>
    </div>
</div>