{{#this}}
	<footer class="article__foot">
		{{#each links}}
			<a href="{{{link-url}}}" title="{{{link-title}}}" class="button button--full">
        		{{#if content.icon}}{{#each content.icon}}{{#this}}{{>icon}}{{/this}}{{/each}}{{/if}}
				<span>{{{link-text}}}</span>
			</a>
		{{/each}}
	</footer>
{{/this}}