{{#this}}
<div class="box{{#if attribute.modifier}} box--{{attribute.modifier}}{{/if}}{{#if attribute.depth}} d{{attribute.depth}}{{/if}}">
	{{#if content.title}}
	<div class="box__head">
		<h4 class="box__title">{{content.title}}</h4>
	</div>
	{{/if}}
	<div class="box__body rte">{{{content.body}}}</div>
	{{#if actions}}
	<div class="box__foot">
		{{#each actions}}
			{{#if buttons}}
				{{#each buttons}}
					{{#this}}
					{{> button }}
					{{/this}}
				{{/each }}
			{{/if}}
		{{/each }}
	</div>
	{{/if}}
</div>
{{/this}}