{{#this}}
<nav class="nav nav__breadcrumbs{{#if item.modifier}} nav__breadcrumbs--{{item.modifier}}{{/if}}">
{{#if content.crumb}}
	{{#each content.crumb}}
		{{#this}}
			{{> breadcrumbs__item }}
		{{/this}}
	{{/each}}
{{/if}}
</nav>
{{/this}}