{{#this}}
<div role="group" class="buttongroup{{#if item.modifier}} buttongroup--{{item.modifier}}{{/if}}{{#if item.size}} {{item.size}}{{/if}}{{#if item.vertical}} vertical{{/if}}">
{{#if actions}}
	{{#each actions}}
		{{#if buttons}}
			{{#each buttons}}
				{{#this}}
				{{> button }}
				{{/this}}
			{{/each }}
		{{/if}}
	{{/each }}
{{/if}}
</div>
{{/this}}