{{#this}}
<div role="group" class="buttongroup{{#if attribute.modifier}} buttongroup--{{attribute.modifier}}{{/if}}{{#if attribute.size}} {{attribute.size}}{{/if}}{{#if attribute.alignment}} {{attribute.alignment}}{{/if}}">
{{#if actions}}
	{{#each actions}}
		{{#if buttons}}
			{{#each buttons}}
				{{#this}}
				{{> button }}
				{{/this}}
			{{/each }}
		{{/if}}
		{{#if menus}}
			{{#each menus}}
				{{#this}}
				{{> menus }}
				{{/this}}
			{{/each}}
		{{/if}}
	{{/each}}
{{/if}}
</div>
{{/this}}