{{#this}}
<div class="cardfader{{#if attribute.modifier}} cardfader--{{attribute.modifier}}{{/if}}">
	{{#each content.cards}}
	<div class="card">
		<div class="card__front">
			<div class="card__content">
				<div class="card__title">{{content.title}}</div>
				<div class="card__body"><p>{{content.body}}</p></div>
			</div>
		</div>
	</div>
	{{/each}}

	<a href="#" class="cardfader__control" data-cardfadercontrol="previous">Previous</a>
	<a href="#" class="cardfader__control" data-cardfadercontrol="0">1</a>
	<a href="#" class="cardfader__control" data-cardfadercontrol="1">2</a>
	<a href="#" class="cardfader__control" data-cardfadercontrol="2">3</a>
	<a href="#" class="cardfader__control" data-cardfadercontrol="3">4</a>
	<a href="#" class="cardfader__control" data-cardfadercontrol="4">5</a>
	<a href="#" class="cardfader__control" data-cardfadercontrol="5">6</a>
	<a href="#" class="cardfader__control" data-cardfadercontrol="next">Next</a>

</div>
{{/this}}