<div class="w w--copyright">
    <div class="g">
        <div class="c__md--1">
            <div class="copyright" role="contentinfo">&copy; Copyright {{ year }} ALLOY, <a href="http://bullettmedia.com/article/character-study-james-van-der-beek-writes-a-heartfelt-open-letter-to-dawson-leery/" title="" target="_blank">Gary Finbow</a>, All rights reserved.</div>
        </div>
    </div>
</div>