<div class="w w--copyright">
    <div class="g">
        <div class="c__md--1">
            <div class="copyright" role="contentinfo">&copy; Copyright {{ year }} ALLOY, The ALLOY Team, All rights reserved.</div>
        </div>
    </div>
</div>