<div class="w w--copyright">
    <div class="g">
        <div class="c__md--1">
            <div class="copyright" role="contentinfo">&copy; Copyright {{ year }} <a href="http://booktasty.net/wp-content/uploads/2013/07/dawsoncrying1.gif" title="" target="_blank">Gary Finbow</a>, All rights reserved.</div>
        </div>
    </div>
</div>