<div class="g">

    <div class="c__md--2-4 c__lg--2-4">
        [POPULAR PAGES]
    </div>

    <div class="c__md--1-4 c__lg--1-4">
        [KEY ARTICLES]
    </div>

    <div class="c__md--1-4 c__lg--1-4">
        [ABOUT & FOLLOW]
    </div>

</div>