<div class="w w--footer">
    <div class="g">
        <div class="c__md--1">
            <div class="copyright" role="contentinfo">&copy; Copyright {{ year }} <a href="http://www.element78solutions.co.uk/" title="Visit the Element 78 Solutions Ltd Website (Opens in a new window)" target="_blank">Element 78 Solutions Ltd</a></div>
        </div>
    </div>
<div>