{{#this}}

<form id="id" class="form" role="" method="">

<!-- form__fieldset -->
<fieldset class="form__fieldset">

    <!-- form__legend -->
    <legend class="form__legend">{{legend-text}}</legend>

</fieldset>

<!-- form__row -->
<div class="form__row">

	{{> input__text input__text}}

</div>


</form>

{{/this}}
