{{#this}}
    <div class="form__row{{#if item.modifier}} form__row--{{item.modifier}}{{/if}}{{#if item.offset}} offset{{/if}}{{#if item.disabled}} disabled{{/if}}
">
        {{#if content.labels}}
            {{#each content.labels}}
                {{#this}}{{> form__label }}{{/this}}
            {{/each}}
        {{/if}}

        {{> form__control }}

        {{#if item.required}}
            {{#this}}{{> form__asterisk }}{{/this}}
        {{/if}}
    </div>
{{/this}}
