{{#this}}
    <div class="form__row{{#if attribute.modifier}} form__row--{{attribute.modifier}}{{/if}}{{#if attribute.offset}} offset{{/if}}{{#if attribute.disabled}} disabled{{/if}}
">
        {{#if content.labels}}
            {{#each content.labels}}
                {{#this}}{{> form__label }}{{/this}}
            {{/each}}
        {{/if}}

        {{> form__control }}

        {{#if attribute.required}}
            {{#this}}{{> form__asterisk }}{{/this}}
        {{/if}}
    </div>
{{/this}}
