{{#this}}
    <div class="form__actions{{#if attribute.modifier}} form__actions--{{attribute.modifier}}{{/if}}{{#if attribute.offset}} offset{{/if}}{{#if attribute.disabled}} disabled{{/if}}
">
        {{#if actions}}
            {{#each actions}}
                {{#if buttons}}
                    {{#each buttons}}
                        {{#this}}
                            {{> button }}
                        {{/this}}
                    {{/each }}
                {{/if}}
            {{/each }}
        {{/if}}

        {{#if content.body}}
            <div class="action__note">
                {{{content.body}}}
            </div>
        {{/if}}
    </div>

{{/this}}
