{{#this}}
<div class="c gridify{{#if attribute.modifier}} gridify--{{attribute.modifier}}{{/if}}">
	{{#each content.cards}}
	<div class="card card--gridify">
		<div class="card__front">
			<div class="card__content">
				<div class="card__title">{{content.title}}</div>
				<div class="card__body"><p>{{content.body}}</p></div>
			</div>
		</div>
	</div>
	{{/each}}
</div>
{{/this}}

<br /> 
<a href="#" class="gridify__control button randomise">Randomise</a>
<a href="#" class="gridify__control button reset">Reset</a>