<header id="header" role="banner" class="w w--header">
	<div class="g g--nogutter">
		<div class="c__lg--1">
			<a href="/" class="link link--logo" title="Alloy"><img src="/assets/img/logo-header.png" alt="The Homer" /></a>
		</div>
	</div>
</header>