{{#this}}
    <div class="input__group{{#if item.checkbox}} input__group--check{{/if}}{{#if item.inline}} inline{{/if}}{{#if item.vertical}} vertical{{/if}}">
        {{#if content.type}}
            {{#each content.type}}
                {{#this}}
                    {{> input }}
                {{/this}}
            {{/each}}
        {{/if}}
    </div>
{{/this}}