{{#this}}

    {{#if buttons}}
        {{#each buttons}}
            {{#this}}
                {{> button }}
            {{/this}}
        {{/each}}

    {{else}}
        <div class="input__wrap{{#if item.modifier}} input__wrap--{{item.modifier}}{{/if}}{{#if item.size}} {{item.size}}{{/if}}">
            {{> input__choose }}
        </div>
    {{/if}}
{{/this}}