{{#this}}
    <span class="input{{#if item.modifier}} input--{{item.modifier}}{{/if}}{{#if item.size}} {{item.size}}{{/if}}{{#if item.status}} {{item.status}}{{/if}}{{#if item.disabled}} disabled{{/if}}">

     {{> inputs }}

    </span>
{{/this}}