{{#this}}
    <div class="input__group{{#if attribute.checkbox}} input__group--check{{/if}}{{#if attribute.inline}} inline{{/if}}{{#if attribute.vertical}} vertical{{/if}}">
        {{#if content.inputs}}
            {{#each content.inputs}}
                {{#this}}
                    {{> input }}
                {{/this}}
            {{/each}}
        {{/if}}
    </div>
{{/this}}