
<div id="navigation" class="drawer">
    <nav role="navigation">
        <ul class="list list--horizontal list__navigation list__navigation--main">
            {{#withSort pages "data.sort"}}
                {{#if data.sort }}
                    <li class="list__item"><a class="list__link{{#if page.nav-variant}} list__link--{{data.nav-variant}}{{/if}}{{#is page.dest this.dest}} active{{/is}}" href="{{relative ../../page.dest this.dest}}" title="{{data.nav-title}}">{{capitalizeFirst data.nav-text}}</a></li>
                {{/if}}
            {{/withSort}}
        </ul>
    </nav>
</div>
