{{#this}}
<div class="pagination">

	<a href="#" class="pagination__control pagination__control--first"><span class="hidden-text" aria-hidden="true">First</span><i class="icon icon--previous14"></i></a>
	<a href="#" class="pagination__control pagination__control--previous"><span class="hidden-text" aria-hidden="true">Previous</span><i class="icon icon--left216"></i></a>
        
    <ul class="list list__pagination">
        <li class="list__item"><a class="list__link" href="#">1</a></li>
        <li class="list__item"><span class="list__link current">2</span></li>
        <li class="list__item"><a class="list__link" href="#">3</a></li>
        <li class="list__item"><a class="list__link" href="#">4</a></li>
        <li class="list__item"><a class="list__link" href="#">5</a></li>
        <li class="list__item"><span class="list__separator">&hellip;</span></li>
        <li class="list__item"><a class="list__link" href="#">17</a></li>
    </ul>
    
    <a href="#" class="pagination__control pagination__control--next"><span class="hidden-text" aria-hidden="true">Next</span><i class="icon icon--right237"></i></a>
    <a href="#" class="pagination__control pagination__control--last"><span class="hidden-text" aria-hidden="true">Last</span><i class="icon icon--play109"></i></a>

</div>
{{/this}}