{{#this}}
<div class="panel{{#if item.modifier}} panel--{{item.modifier}}{{/if}}">
	{{#if content.title}}
		<div class="panel__title">{{content.title}}</div>
	{{/if}}
	<div class="panel__body rte">{{{content.body}}}</div>
	{{#if actions}}
		<div class="panel__actions">
			{{#each actions}}
				{{#if buttons}}
					{{#each buttons}}
						{{#this}}
						{{> button }}
						{{/this}}
					{{/each }}
				{{/if}}
			{{/each }}
		</div>
	{{/if}}
</div>
{{/this}}