{{#this}}
<div class="popover{{#if attribute.modifier}} popover--{{attribute.modifier}}{{/if}}">
    <div class="popover__head">
		<div class="popover__title">{{content.title}}</div>
	</div>
	<div class="popover__body">{{content.text}}</div>
	<div class="arrow"></div>
</div>
{{/this}}