{{#this}}
	<section class="section{{#if attribute.modifier}} section--{{attribute.modifier}}{{/if}}">
        <header class="section__head">
            <h2 class="section__title">{{content.title}}</h2>
        </header>

        <div class="section__body">
	        <!-- code -->
				{{content.body}}
	        <!-- end of code -->
        </div>

    </section>
{{/this}}