{{#this}}
	<section class="section section__code{{#if attribute.modifier}} section__code--{{attribute.modifier}}{{/if}}">
        <header class="section__head">
            <h2 class="section__title">{{content.title}}</h2>
        </header>

        <div class="section__body">
            <pre class="prettyprint linenums"><code class="html">
                {{content.body}}
             </code></pre>
        </div>

    </section>
{{/this}}