{{#this}}
<option
    value="{{attribute.value}}"
    {{#if content.label}} label="{{content.label}}"{{/if}}
    {{#if attribute.selected}} selected="selected"{{/if}}
    {{#if attribute.disabled}} disabled="disabled"{{/if}}
>
    {{content.text}}
</option>
{{/this}}