<div class="share">
	<div><em>Share this article</em></div>
	<a href="https://www.facebook.com/sharer.php" class="share__link" target="_blank">
		<i class="icon icon--facebook56"></i>
		<span></span>
	</a>
	<a href="https://twitter.com/share" class="share__link" target="_blank">
		<i class="icon icon--twitter47"></i>
		<span></span>
	</a>
</div>