{{#this}}
<div class="story{{#if item.modifier}} story--{{item.modifier}}{{/if}}">
<div class="story__tools"></div>
	{{#if content.ident}}
		{{#each content.ident}}
			{{#this}}
			{{> ident }}
			{{/this}}
		{{/each }}
	{{/if}}
	<div class="story__content">
		<div class="story__body rte">{{{content.body}}}</div>
		{{#if content.cite}}
			{{#each content.cite}}
				{{#this}}
				{{> cite }}
				{{/this}}
			{{/each }}
		{{/if}}
		{{#if actions}}
			<div class="story__actions">
			{{#each actions}}
				{{#if buttons}}
					{{#each buttons}}
						{{#this}}
						{{> button }}
						{{/this}}
					{{/each }}
				{{/if}}
			{{/each }}
			</div>
		{{/if}}
		</div>
	</div>
	<div class="story__comments">
		
	</div>
</div>
{{/this}}