{{#this}}
<div class="story-ident">
<a href="#" class="story-ident__avatar-link">
	<img src="{{content.avatar}}" class="story-ident__avatar" alt="" />
</a>
<div class="story-ident__info">
	<a href="#">{{content.name}}</a> [ACTION] [CITATIONAUTHOR]
	<time datetime="YYYY-MM-DDThh:mm:ssTZD" class="story-ident__when">[YYYY-MM-DDThh:mm:ssTZD]</time>
</div>
</div>
{{/this}}