{{#this}}
	<div class="toast{{#if item.modifier}} toast--{{item.modifier}}{{/if}}">
        <span class="toast__content">{{#if content.icon}}{{#each content.icon}}{{>icon}}{{/each}}{{/if}}{{{content.text}}}</span>
	</div>
{{/this}}