{{#this}}
<div class="well{{#if attribute.modifier}} well--{{attribute.modifier}}{{/if}}{{#if attribute.size}} {{attribute.size}}{{/if}}{{#if attribute.status}} {{attribute.status}}{{/if}}">
	{{{content.text}}}
</div>
{{/this}}