---
title: Layout Examples
layout: example.hbs

navigation-main: true
navigation-order: 6

nav-title: "Examples"
nav-text: "Examples"
nav-target: "_blank"
nav-variant: "examples"
page-category: "examples"
---

<header class="w w--head">
	<div class="g">
	    <div class="c__lg--1">
	    	<h1 class="page__title">{{title}}</h1>
	    </div>
	</div>
</header>

<main class="w w--main">

	<div class="w w--primary">
		<div class="g">
		    <div class="c__lg--5-7">
		    	PAGE
		    </div>
		    <div class="c__lg--2-7">
		    	{{> panel panel }}
		    </div>
		</div>
	</div>

	<div class="w w--secondary">
		<div class="g">
		    <div class="c__lg--1">
		    	SECONDARY
		    </div>
		</div>
	</div>

</main>

<footer class="w w--foot">
	<div class="g">
	    <div class="c__lg--1">
	    	FOOTER
	    </div>
	</div>
</footer>