---
title: Forms

nav-thumb: "placeholder.jpg"
nav-title: "Forms"
nav-text: "Forms"
nav-variant: "forms"
page-category: "systems"
---

<main class="w w--main">
	<div class="g">
	    <div class="c__lg--1">

  			<div class="page{{#if nav-variant}} page--{{nav-variant}}{{/if}}">
				<div class="page__head">
					<h1 class="page__title">{{title}}</h1>
					{{#if subtitle}}<p class="page__subtitle">{{subtitle}}</p>{{/if}}
				</div>

<!-- writings -->

				<div class="page__body rte">


<!--
 size
validation
 disabled
status
-->

					<form id="form-example-inline" class="form inline" role="" method="">
						<fieldset class="form__fieldset">
						    <legend class="form__legend">Form Inline</legend>

							{{> form__row form__row-inline}}

							{{> button button-submit }}

						</fieldset>
					</form>


					<form id="form-example-search" class="form inline" role="" method="">
						<fieldset class="form__fieldset simple">
						    <legend class="form__legend hidden-text">Form custom search example</legend>

							{{> form__row form__row-search--inline}}

						</fieldset>

					</form>



					<form id="form-example-search" class="form inline" role="" method="">
						<fieldset class="form__fieldset simple">
						    <legend class="form__legend hidden-text">Form text and submit button</legend>

							{{> form__row form__row-text}}

						</fieldset>

						<fieldset class="form__fieldset simple">

							{{> form__row form__row--submit}}

						</fieldset>

					</form>



					<form id="form-example-json" class="form aligned" role="" method="">

						{{! form__hidden form__hidden }}


						<fieldset class="form__fieldset">
						    <legend class="form__legend">Aligned form via JSON</legend>

							{{> form__row form__row-text}}
							{{> form__row form__row-email}}
							{{> form__row form__row-telephone}}
							{{> form__row form__row-url}}
							{{> form__row form__row-password}}
							{{> form__row form__row-textarea}}
							{{> form__row form__row-select}}
							{{> form__row form__row-select--optgroup}}


							{{> form__row form__row-search}}



							{{> form__row form__row-radio}}
							{{> form__row form__row-checkbox}}

						</fieldset>

						<fieldset class="form__fieldset">
						    <legend class="form__legend">Submit button</legend>

							{{> form__row form__row--submit}}

						</fieldset>

					</form>


					<form id="form-example-validation" class="form aligned" role="" method="">

						{{! form__hidden form__hidden }}

						<fieldset class="form__fieldset">
						    <legend class="form__legend">Validation items via JSON</legend>

							{{> form__row form__row-text--validated }}



							{{! form__row form__row-email}}
							{{! form__row form__row-telephone}}
							{{! form__row form__row-url}}
							{{! form__row form__row-password}}
							{{! form__row form__row-textarea}}
							{{! form__row form__row-select}}
							{{! form__row form__row-select--optgroup}}

							{{! form__row form__row-search}}

							{{! form__row form__row-radio}}
							{{! form__row form__row-checkbox}}
							{{! form__row form__row--submit}}

						</fieldset>

					</form>

					<form id="form-example-aligned" class="form aligned" role="" method="">
						
						<fieldset class="form__fieldset">
						    <legend class="form__legend">Form Aligned</legend>

							<div class="form__row">
								{{> form__label label-for }}
								{{> select select }}
							    {{> form__asterisk }}
							</div>

							<div class="form__row">
								
								{{> form__label label-for }}
							    {{> input__text }}

							</div>

							<div class="form__row offset">
								<div class="form__group">
									<span class="group__item">
									    {{> input__text }}
									</span>
									<span class="group__item">
									    {{> input__text }}
									</span>
									<span class="group__item">
									    {{> input__text }}
									</span>
									<span class="group__item">
									    {{> input__text }}
									</span>
								</div>
							</div>

							<div class="form__row">
								
								{{> form__label label-for }}
							    {{> input__password }}
							    <span class="form__text">Aligned form text eg, Have you <a href="#">Forgotten your password?</a></span>

							</div>

							<div class="form__row offset">

								{{> button button-submit }}

							</div>
						</fieldset>
					</form>


					<form id="form-example-disabled" class="form aligned" role="" method="">
						<fieldset class="form__fieldset">
						    <legend class="form__legend">Disabled Inputs</legend>

							<div class="form__row">
								<label for="inputsizedisabled" class="label disabled"><span>Disabled label and input</span></label>
								<input type="text" role="textbox" class="form__input"
									disabled="disabled" aria-disabled="true" />
							</div>

							<div class="form__row disabled">
								<label class="label disabled" for="form-select"><span>Select Label</span></label>
								<select class="form__input" disabled="disabled" aria-disabled="true" >
									<option value="" label="Option Label1">Option Text1</option>
									<option value="" label="Option Label2">Option Text2</option>
									<option value="" label="Option Label3" selected>Option Text3</option>
									<option value="" label="Option Label4">Option Text4</option>
									<option value="" label="Option Label5">Option Text5</option>
								</select>
							</div>

							<div class="form__row offset">
								<div class="form__group vertical">
									<span class="group__item">
										<input type="checkbox" class="form__input" checked="checked"
											disabled="disabled" aria-disabled="true" />
										<label for="InputSizeDisabled" class="label disabled"><span>Disabled Checkboxes</span></label>
									</span>

									<span class="group__item">
										<input type="checkbox" class="form__input"
											disabled="disabled" aria-disabled="true" />
										<label for="InputSizeDisabled" class="label disabled"><span>Disabled Checkboxes</span></label>
									</span>

									<span class="group__item">
										<input type="checkbox" class="form__input"
											disabled="disabled" aria-disabled="true" />
										<label for="InputSizeDisabled" class="label disabled"><span>Disabled Checkboxes</span></label>
									</span>
								</div>
							</div>

							<div class="form__row offset">
								<div class="form__group vertical">
									<span class="group__item">
										<input type="radio" class="form__input" checked="checked"
											disabled="disabled" aria-disabled="true" />
										<label for="InputSizeDisabled" class="label"><span>Disabled Radio</span></label>
									</span>

									<span class="group__item">
										<input type="radio" class="form__input"
											disabled="disabled" aria-disabled="true" />
										<label for="InputSizeDisabled" class="label"><span>Disabled Radio</span></label>
									</span>

									<span class="group__item">
										<input type="radio" class="form__input"
											disabled="disabled" aria-disabled="true" />
										<label for="InputSizeDisabled" class="label"><span>Disabled Radio</span></label>
									</span>
								</div>
							</div>

							<div class="form__row">
								<label for="InputSizeDisabled" class="label"><span>Input xsmall</span></label>
								<input type="text" role="textbox" class="form__input"
									disabled="disabled" aria-disabled="true" />
							</div>

						</fieldset>

						<fieldset class="form__fieldset">
						    <legend class="form__legend">Readonly Input</legend>

							<div class="form__row">
								<label for="InputSizeDisabled" class="label"><span>Input xsmall</span></label>
								<input type="text" role="textbox" class="form__input"
									readonly="readonly" aria-readonly="true" />
							</div>
						</fieldset>

						<fieldset class="form__fieldset">
						    <legend class="form__legend">Required Input</legend>

							<div class="form__row">
								<label for="InputSizeDisabled" class="label"><span>Input xsmall</span></label>
								<input type="text" role="textbox" class="form__input"
									required="required" aria-required="true" />
								{{> form__asterisk }}
							</div>
						</fieldset>

					</form>


					<form id="form-example-sizes" class="form" role="" method="">
						<fieldset class="form__fieldset">
						    <legend class="form__legend">Input Sizes</legend>

							<div class="form__row">
								<label for="input-size-xsmall" class="label"><span>Input xsmall</span></label>
							    <input type="text" role="textbox" class="form__input xsmall" placeholder="Text Placeholder">
							</div>
							<div class="form__row">
								<label for="input-size-small" class="label"><span>Input small</span></label>
							    <input type="text" role="textbox" class="form__input small" placeholder="Text Placeholder">
							</div>
							<div class="form__row">
								<label for="input-size-large" class="label"><span>Input large</span></label>
							    <input type="text" role="textbox" class="form__input large" placeholder="Text Placeholder">
							</div>
							<div class="form__row">
								<label for="input-size-xlarge" class="label"><span>Input xlarge</span></label>
							    <input type="text" role="textbox" class="form__input xlarge" placeholder="Text Placeholder">
							</div>
							<div class="form__row">
								<label for="input-size-full" class="label"><span>Input full</span></label>
							    <input type="text" role="textbox" class="form__input full" placeholder="Text Placeholder">
							</div>

						</fieldset>
					</form>


					<form id="form-example-sizes" class="form aligned" role="" method="">
						<fieldset class="form__fieldset">
						    <legend class="form__legend">Checkboxes</legend>


							<div class="form__row offset">
								<div class="form__group">
									<input id="aligned-checkbox-4" type="checkbox" class="form__input">
									<label for="aligned-checkbox-4" class="label">
									    <span>Label for label+checkbox</span>
									</label>

									<input id="aligned-checkbox-5" type="checkbox" class="form__input">
									<label for="aligned-checkbox-5" class="label">
									    <span>Label for label+checkbox</span>
									</label>

									<input id="aligned-checkbox-6" type="checkbox" class="form__input">
									<label for="aligned-checkbox-6" class="label">
									    <span>Label for label+checkbox</span>
									</label>
							    </div>
							    {{> form__asterisk }}
							</div>


							<div class="form__row">
								<label for="aligned-checkbox-7" class="label">
								    <span>Separate label and checkbox</span>
								</label>
								<div class="form__group">
								    <input type="checkbox" class="form__input" id="aligned-checkbox-7">
								</div>
							</div>


							<div class="form__row">
								<span class="label">Group Vertical</span>

								<div class="form__group vertical">

									<span class="group__item">
										<input type="radio" class="radio" name="optionsRadios" id="optionsRadiosA1" value="option1" checked>
										<label for="optionsRadiosA1" class="label">
											<span>Option one</span>
										</label>
									</span>

									<span class="group__item">
										<input type="radio" class="radio" name="optionsRadios" id="optionsRadiosA2" value="option2">
										<label for="optionsRadiosA2" class="label">
											<span>Option two</span>
										</label>
									</span>

									<span class="group__item">
										<input type="radio" class="radio" name="optionsRadios" id="optionsRadiosA3" value="option3">
										<label for="optionsRadiosA3" class="label">
											<span>Option three</span>
										</label>
									</span>

								</div>
							</div>



							<div class="form__row">
								<span class="label">Group</span>

								<div class="form__group">

									<span class="group__item">
										<input type="radio" class="radio" name="optionsRadios" id="optionsRadiosB1" value="option1a" checked>
										<label for="optionsRadiosB1" class="label">
											<span>Option one</span>
										</label>
									</span>

									<span class="group__item">
										<input type="radio" class="radio" name="optionsRadios" id="optionsRadiosB2" value="option2a">
										<label for="optionsRadiosB2" class="label">
											<span>Option one</span>
										</label>
									</span>

									<span class="group__item">
										<input type="radio" class="radio" name="optionsRadios" id="optionsRadiosB3" value="option3a">
										<label for="optionsRadiosB3" class="label">
											<span>Option one</span>
										</label>
									</span>

									{{> form__asterisk }}

								</div>
							</div>


						</fieldset>
					</form>


		        </div>

<!-- example -->

				<section class="section section--example">
		            <header class="section__head">
		                <h2 class="section__title">Example</h2>
		            </header>

		            <div class="secton__body">
				        <!-- code -->

				        <!-- end of code -->
			        </div>

		        </section>

<!-- code -->

		    	<section class="section section--code">
		            <header class="section__head">
		            	<h2 class="section__title">Code</h2>
		            </header>

		            <div class="section__body">
			            <pre class="prettyprint linenums"><code class="html">

			             </code></pre>
		            </div>

		        </section>

<!-- reference -->

		        <section class="section section--reference">
		            <header class="section__head">
		                <h2 class="section__title">References</h2>
		            </header>

		            <div class="section__body rte">

		            	<ul>
		            		<li><a href="http://tympanus.net/Development/TextInputEffects/" target="_blank">http://tympanus.net/Development/TextInputEffects/</a></li>
		            	</ul>

		            </div>

		        </section>

	        </div>

	    </div>
	</div>
</main>
