---
title: Helpers

nav-title: "Helpers"
nav-text: "Helpers"
nav-variant: "helpers"
page-category: "systems"
---

<main class="w w--main">
	<div class="g">
	    <div class="c__lg--1">

  			<div class="page{{#if nav-variant}} page--{{nav-variant}}{{/if}}">
				<div class="page__head">
					<h1 class="page__title">{{title}}</h1>
					{{#if subtitle}}<p class="page__subtitle">{{subtitle}}</p>{{/if}}
				</div>

<!-- writings -->

		        <div class="page__body rte">

		        </div>

<!-- example -->

				<section class="section section--example">
		            <header class="section__head">
		                <h2 class="section__title">Examples: Utility Classes</h2>
		            </header>

		            <div class="secton__body rte">
				        <!-- code -->
				        	<p>These will appear as classes in their own right and can be used to modify elements without creating a new modifier for that block.</p>

							<p>There are several groups for these utility classes, which in essence modify the behaviour of a block in a 'standard' way - THese are as follows</p>

						<ul>
                            <li><strong>Layout</strong>
								<ul>
									<li><code>.c</code></li>
                                    <li><code>.rte</code></li>
								</ul>
							</li>
                            <li><strong>Display</strong>
								<ul>
									<li><code>.invisible</code></li>
                                    <li><code>.visible</code></li>
                                    <li><code>.ir</code></li>
                                    <li><code>.hide</code></li>
                                    <li><code>.show</code></li>
								</ul>
							</li>
                            <li><strong>Alignment</strong>
								<ul>
                                    <li><code>.left</code></li>
                                    <li><code>.right</code></li>
                                    <li><code>.center</code></li>
                                    <li><code>.center-block</code>
                                    <li><code>.vertical</code></li>
                                    <li><code>.justified</code></li>
                                    <li><code>.inline</code></li>
								</ul>
							</li>
                            <li><strong>Media</strong>
								<ul>
									<li><code>.show-xs</code></li>
                                    <li><code>.show-sm</code></li>
                                    <li><code>.show-md</code></li>
                                    <li><code>.show-lg</code></li>
                                    <li><code>.show-xl</code></li>
                                    <li><code>.hide-xs</code></li>
                                    <li><code>.hide-sm</code></li>
                                    <li><code>.hide-md</code></li>
                                    <li><code>.hide-lg</code></li>
                                    <li><code>.hide-xl</code></li>
								</ul>
							</li>
							<li><strong>Size</strong>
								<ul>
									<li><code>.xsmall</code></li>
                                    <li><code>.small</code></li>
                                    <li><code>.large</code></li>
                                    <li><code>.xlarge</code></li>
								</ul>
							</li>
                            <li><strong>States</strong>
								<ul>
                                    <li><code>.info</code></li>
                                    <li><code>.warn</code></li>
                                    <li><code>.danger</code></li>
                                    <li><code>.success</code></li>
                                    <li><code>.disabled</code></li>
								</ul>
							</li>
                            <li><strong>Focus</strong>
								<ul>
                                    <li><code>.active</code></li>
                                    <li><code>.activating</code></li>
                                    <li><code>.inactive</code></li>
                                    <li><code>.deactivating</code></li>
                                    <li><code>.current</code></li>
                                    <li><code>.open</code></li>
                                    <li><code>.opening</code></li>
                                    <li><code>.closed</code></li>
                                    <li><code>.closing</code></li>
								</ul>
							</li>
						</ul>
				        <!-- end of code -->
			        </div>

		        </section>

<!-- reference -->

		        <section class="section section--reference">
		            <header class="section__head">
		                <h2 class="section__title">References</h2>
		            </header>
		            <div class="section__body rte">

		            </div>
		        </section>

	        </div>

	    </div>
	</div>
</main>
