---
title: Helpers

nav-title: "Helpers"
nav-text: "Helpers"
nav-variant: "helpers"
page-category: "systems"
---

<main class="w w--main">
	<div class="g">
	    <div class="c__lg--1">

  			<div class="page{{#if nav-variant}} page--{{nav-variant}}{{/if}}">
				<div class="page__head">
					<h1 class="page__title">{{title}}</h1>
					{{#if subtitle}}<p class="page__subtitle">{{subtitle}}</p>{{/if}}
				</div>

<!-- writings -->

		        <div class="page__body rte">

		        </div>

<!-- example -->

				<section class="section section--example">
		            <header class="section__head">
		                <h2 class="section__title">Examples: Utility Classes</h2>
		            </header>

		            <div class="secton__body rte">
				        <!-- code -->
				        	<p>These will appear as classes in their own right and can be used to modify elements without creating a new modifier for that block.</p>
							<p><code>.c</code> <code>.invisible</code> <code>.visible</code> <code>.ir</code> <code>.rte</code> <code>.hide</code> <code>.show</code> <code>.left</code> <code>.right</code> <code>.center</code> <code>.center-block</code> <code>.show-mobile</code> <code>.show-tablet</code> <code>show-desktop</code> <code>.hide-mobile</code> <code>.hide-tablet</code> <code>hide-desktop</code> <code>.xsmall</code><code>.small</code> <code>.large</code> <code>.xlarge</code> <code>.active</code> <code>.current</code></p>

				        <!-- end of code -->
			        </div>

		        </section>

<!-- code -->

		    	<section class="section section--code">
		            <header class="section__head">
		            	<h2 class="section__title">Code</h2>
		            </header>

		            <div class="section__body">
			            <pre class="prettyprint linenums"><code class="html">

			             </code></pre>
		            </div>

		        </section>

<!-- reference -->

		        <section class="section section--reference">
		            <header class="section__head">
		                <h2 class="section__title">References</h2>
		            </header>
		            <div class="section__body rte">

		            </div>
		        </section>

	        </div>

	    </div>
	</div>
</main>
