---
title: Systems Index

nav-title: "Systems"
nav-text: "Systems"
nav-variant: "systems"
navigation-main: true
navigation-order: 3
page-category: "systems"
---

<main class="w w--main">
	<div class="g">
	    <div class="c__lg--1">

  			<div class="page{{#if nav-variant}} page--{{nav-variant}}{{/if}}">
				<div class="page__head">
					<h1 class="page__title">{{title}}</h1>
					{{#if subtitle}}<p class="page__subtitle">{{subtitle}}</p>{{/if}}
				</div>

<!-- writings -->

		        <div class="page__body rte">



		        </div>

<!-- reference -->

		        <section class="section section--reference">
		            <header class="section__head">
		                <h2 class="section__title">References</h2>
		            </header>
		            <div class="section__body rte">

		            </div>
		        </section>

	        </div>

	    </div>
	</div>
</main>
