---
title: Tables

nav-title: "Tables"
nav-text: "Tables"
nav-variant: "tables"
---

<main class="w w--main">
	<div class="g">
	    <div class="c__lg--1">

  			<div class="page{{#if nav-variant}} page--{{nav-variant}}{{/if}}">
				<div class="page__head">
					<h1 class="page__title">{{title}}</h1>
					{{#if subtitle}}<p class="page__subtitle">{{subtitle}}</p>{{/if}}
				</div>

<!-- writings -->

		        <div class="page__body rte">

			        <table class="table">
			        	<caption class="table__caption"></caption>
				        <colgroup>
				        	<col />
				        	<col />
				        	<col />
				        	<col />
			        	</colgroup>
				        <thead class="table__head">
				        	<tr class="table__row">
					        	<th scope="col" class="table__header">Number</th>
					        	<th scope="col" class="table__header">Name</th>
					        	<th scope="col"class="table__header">Date</th>
					        	<th scope="col" class="table__header">Action</th>
				        	</tr>
			        	</thead>
			        	<tbody class="table_body">
				        	<tr class="table__row">
					        	<td class="table__cell">00001</td>
					        	<td class="table__cell">Teimurazi Fabó Lane</td>
					        	<td class="table__cell">04/06/1965</td>
					        	<td class="table__cell"><a href="#edit">Edit</a></td>
				        	</tr>
				        	<tr class="table__row">
					        	<td class="table__cell">00002</td>
					        	<td class="table__cell">Visvaldis Adriaansen</td>
					        	<td class="table__cell">04/01/1995</td>
					        	<td class="table__cell"><a href="#edit">Edit</a></td>
				        	</tr>
				        	<tr class="table__row">
					        	<td class="table__cell">00004</td>
					        	<td class="table__cell">Jamshid Markey</td>
					        	<td class="table__cell">11/12/2001</td>
					        	<td class="table__cell"><a href="#edit">Edit</a></td>
				        	</tr>
				        	<tr class="table__row">
					        	<td class="table__cell">00007</td>
					        	<td class="table__cell">Oliviero Stojan</td>
					        	<td class="table__cell">09/04/1984</td>
					        	<td class="table__cell"><a href="#edit">Edit</a></td>
				        	</tr>
				        	<tr class="table__row">
					        	<td class="table__cell">00003</td>
					        	<td class="table__cell">Juhan Simba</td>
					        	<td class="table__cell">26/08/1935</td>
					        	<td class="table__cell"><a href="#edit">Edit</a></td>
				        	</tr>
				        	<tr class="table__row">
					        	<td class="table__cell">00018</td>
					        	<td class="table__cell">Mac Ruaidhrí</td>
					        	<td class="table__cell">14/01/1978</td>
					        	<td class="table__cell"><a href="#edit">Edit</a></td>
				        	</tr>
			        	</tbody>
			        </table>

		        </div>

<!-- example -->

				<section class="section section--example">
		            <header class="section__head">
		                <h2 class="section__title">Example</h2>
		            </header>

		            <div class="secton__body">
				        <!-- code -->

				        <!-- end of code -->
			        </div>

		        </section>

<!-- code -->

		    	<section class="section section--code">
		            <header class="section__head">
		            	<h2 class="section__title">Code</h2>
		            </header>

		            <div class="section__body">
			            <pre class="prettyprint linenums"><code class="html">

			             </code></pre>
		            </div>

		        </section>

<!-- reference -->

		        <section class="section section--reference">
		            <header class="section__head">
		                <h2 class="section__title">References</h2>
		            </header>
		            <div class="section__body rte">

		            </div>
		        </section>

	        </div>

	    </div>
	</div>
</main>
