---
title: Buttons

nav-title: "Buttons"
nav-text: "Buttons"
nav-variant: "button"
page-category: "components"
---

<main class="w w--main">
	<div class="g">
	    <div class="c__lg--1">

  			<div class="page{{#if nav-variant}} page--{{nav-variant}}{{/if}}">
				<div class="page__head">
					<h1 class="page__title">{{title}}</h1>
					{{#if subtitle}}<p class="page__subtitle">{{subtitle}}</p>{{/if}}
				</div>

<!-- writings -->

		        <div class="page__body rte">

		        </div>

<!-- example -->

				<section class="section section--example">
		            <header class="section__head">
		                <h2 class="section__title">Example: Defaults</h2>
		            </header>

		            <div class="secton__body">
				        <!-- code -->
					        {{> button button}}
					        {{> button button-alt}}
					        {{> button button-disabled}}
					        {{> button button-nolink}}
				        <!-- end of code -->
			        </div>

		        </section>

<!-- code -->

		    	<section class="section section--code">
		            <header class="section__head">
		            	<h2 class="section__title">Code</h2>
		            </header>

		            <div class="section__body">
			            <pre class="prettyprint linenums"><code class="html">
&lt;a href="#linkurl1" class="button" title="Default"&gt;
	&lt;span class="ripple"&gt;&lt;/span&gt;
	&lt;span class="button__content"&gt;&lt;i class="icon icon--icon-1" aria-hidden="true" role="img"&gt;&lt;/i&gt;Default Button&lt;/span&gt;
&lt;/a&gt;
			             </code></pre>
		            </div>

		        </section>

<!-- reference -->

		        <section class="section section--reference">
		            <header class="section__head">
		                <h2 class="section__title">References</h2>
		            </header>
		            <div class="section__body rte">

		            </div>
		        </section>

	        </div>

	    </div>
	</div>
</main>
