---
title: Hover Card

nav-thumb: "placeholder.jpg"
nav-title: "Hover Card"
nav-text: "Hover Card"
nav-variant: "hovercard"
page-category: "components"
---

<main class="w w--main">
	<div class="g">
	    <div class="c__lg--1">

  			<div class="page{{#if nav-variant}} page--{{nav-variant}}{{/if}}">
				<div class="page__head">
					<h1 class="page__title">{{title}}</h1>
					{{#if subtitle}}<p class="page__subtitle">{{subtitle}}</p>{{/if}}
				</div>

<!-- writings -->

		        <div class="page__body rte">

		        </div>

<!-- example -->

				<section class="section section--example">
		            <header class="section__head">
		                <h2 class="section__title">Example</h2>
		            </header>

		            <div class="section__body">
				        <!-- code -->

				        <div class="hovercard">
        					<a href="#" class="hovercard__avatar"><img src="http://placehold.it/64x64" alt="" class="avatar" /></a>
			        		<div class="hovercard__content">
		        				<div class="hovercard__name">Davey Jones</div>
		        				<div class="hovercard__info">40,000 followers</div>
			        			<div class="hovercard__bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat augue vel varius tincidunt. Suspendisse blandit gravida egestas.</div>
			        			<div class="hovercard__actions"><a href="#" class="button">Profile</a> <a href="#" class="button">Follow</a></div>
			        		</div>
				        </div>

				        <!-- end of code -->
			        </div>

		        </section>

<!-- code -->

		    	<section class="section section--code">
		            <header class="section__head">
		            	<h2 class="section__title">Code</h2>
		            </header>

		            <div class="section__body">
			            <pre class="prettyprint linenums"><code class="html">

			             </code></pre>
		            </div>

		        </section>

<!-- reference -->

		        <section class="section section--reference">
		            <header class="section__head">
		                <h2 class="section__title">References</h2>
		            </header>
		            <div class="section__body rte">

		            </div>
		        </section>

	        </div>

	    </div>
	</div>
</main>
