---
title: Components Index


nav-title: "Components"
nav-text: "Components"
nav-variant: "components"
---

<main class="w w--main">
	<div class="g">
	    <div class="c__md--1">

  			<article class="article">
			    <header class="article__head head">
			        <h1 class="article__title">{{title}}</h1>
		        </header>
<!-- writings -->
		        <div class="article__body rte">

		        </div>

<!-- reference -->

		        <section class="section section--reference">
		            <header class="section__head">
		                <h2 class="section__title">References</h2>
		            </header>
		            <div class="section__body rte">

		            </div>
		        </section>

	        </article>

	    </div>

	</div>
</main>
