---
title: Pagination

nav-title: "Pagination"
nav-text: "Pagination"
nav-variant: "pagination"
page-category: "components"
---

<main class="w w--main">
	<div class="g">
	    <div class="c__lg--1">

  			<div class="page{{#if nav-variant}} page--{{nav-variant}}{{/if}}">
				<div class="page__head">
					<h1 class="page__title">{{title}}</h1>
					{{#if subtitle}}<p class="page__subtitle">{{subtitle}}</p>{{/if}}
				</div>

<!-- writings -->

		        <div class="page__body rte">

		        </div>

<!-- example -->

				<section class="section section--example">
		            <header class="section__head">
		                <h2 class="section__title">Example</h2>
		            </header>

		            <div class="secton__body">
				        <!-- code -->
							<div class="pagination">

								<a href="#" class="link link--pagination"><span class="hidden-text" aria-hidden="true">Previous</span><i class="icon icon--left216"></i></a>
							        
						        <ul class="list list--pagination">
				                    <li class="list__item"><a class="list__link current" href="#">1</a></li>
				                    <li class="list__item"><a class="list__link" href="#">2</a></li>
				                    <li class="list__item"><a class="list__link" href="#">3</a></li>
						        </ul>
						        
						        <a href="#" class="link link--pagination"><span class="hidden-text" aria-hidden="true">Next</span><i class="icon icon--right237"></i></a>

							</div>
				        <!-- end of code -->
			        </div>

		        </section>

<!-- code -->

		    	<section class="section section--code">
		            <header class="section__head">
		            	<h2 class="section__title">Code</h2>
		            </header>

		            <div class="section__body">
			            <pre class="prettyprint linenums"><code class="html">
&lt;div class="pagination"&gt;
&lt;a href="#" class="link link--pagination"&gt;&lt;span class="hidden-text"&gt;Previous&lt;/span&gt;&lt;i class="icon icon--left216"&gt;&lt;/i&gt;&lt;/a&gt;

&lt;ul class="list list--pagination"&gt;
	&lt;li class="list__item"&gt;&lt;a class="list__link current" href="#"&gt;1&lt;/a&gt;&lt;/li&gt;
	&lt;li class="list__item"&gt;&lt;a class="list__link" href="#"&gt;2&lt;/a&gt;&lt;/li&gt;
	&lt;li class="list__item"&gt;&lt;a class="list__link" href="#"&gt;3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
  
&lt;a href="#" class="link link--pagination"&gt;&lt;span class="hidden-text"&gt;Previous&lt;/span&gt;&lt;i class="icon icon--right237"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;/div&gt;
			            </code></pre>
		            </div>

		        </section>

<!-- reference -->

		        <section class="section section--reference">
		            <header class="section__head">
		                <h2 class="section__title">References</h2>
		            </header>
		            <div class="section__body rte">

		            </div>
		        </section>

	        </div>

	    </div>
	</div>
</main>
