---
title: Panels


nav-title: "Panels"
nav-text: "Panels"
nav-variant: "panels"
---

<main class="w w--main">
	<div class="g">
	    <div class="c__md--1">

  			<article class="article">
			    <header class="article__head head">
			        <h1 class="article__title">{{title}}</h1>
		        </header>
<!-- writings -->
		        <div class="article__body rte">

		        </div>

<!-- example -->
				<section class="section section--example">
		            <header class="section__head">
		                <h2 class="section__title">Example</h2>
		            </header>

		            <div class="secton__body">
				        <!-- code -->
				        {{>panel panel}}
				        {{>panel panel-noactions}}
				        <!-- end of code -->
			        </div>

		        </section>

<!-- code -->
		    	<section class="section section--code">
		            <header class="section__head">
		            	<h2 class="section__title">Code</h2>
		            </header>

		            <div class="section__body">
			            <pre class="prettyprint linenums"><code class="html">

			             </code></pre>
		            </div>

		        </section>

<!-- reference -->

		        <section class="section section--reference">
		            <header class="section__head">
		                <h2 class="section__title">References</h2>
		            </header>
		            <div class="section__body rte">

		            </div>
		        </section>

	        </article>

	    </div>

	</div>
</main>
