---
title: Holy Grail Layout
subtitle: A good 3 Column Layout
layout: example.hbs

nav-thumb: "placeholder.jpg"
nav-title: "Holy Grail Layout"
nav-text: "Holy Grail Layout"
nav-variant: "examples"
page-category: "examples"
---

<header class="w w--head">
	<div class="g">
	    <div class="c__lg--1">
	    	<h1 class="page__title">{{title}}</h1>
	    </div>
	</div>
</header>

<nav class="w w--nav">
	<div class="g">
	    <div class="c__lg--1">
	    	[SITE MAINNAV]
	    </div>
	</div>
</nav>

<main class="main">
	<div class="w w--banner">
		[BANNER MAIN]
	</div>
	<div class="w w--actions">
		<div class="g">
		    <div class="c__lg--3-14 c__md--1-2">
		    	{{> panel panel }}
		    </div>
		    <div class="c__lg--8-14 c__md--1">
		    	{{> panel panel }}
		    	{{> panel panel }}
		    	{{> panel panel }}
		    </div>
		    <div class="c__lg--3-14 c__md--1-2">
		    	{{> panel panel }}
		    </div>
		</div>
	</div>
	<div class="w w--actions">
		<div class="g">
		    <div class="c__lg--1-4 c__md--1-2">
		    	{{> panel panel }}
		    </div>
		    <div class="c__lg--1-4 c__md--1-2">
		    	{{> panel panel }}
		    </div>
		    <div class="c__lg--1-4 c__md--1-2">
		    	{{> panel panel }}
		    </div>
		    <div class="c__lg--1-4 c__md--1-2">
		    	{{> panel panel }}
		    </div>
		</div>
	</div>

	<div class="w w--intro">
		<div class="g">
			<div class="c__lg--7-12 c__md--1-2">
				[INTRO CONTENT]

			</div>
			<div class="c__lg--5-12 c__md--1-2">
				[INTO ASIDE]
			</div>
		</div>
	</div>

</main>

<footer class="w w--foot">
	<div class="g">
	    <div class="c__lg--1">
	    	[SITE FOOTERNAV]
	    </div>
	    <div class="c__lg--1">
			{{> footer }} {{! footer uses the app.json for its information at present }}
	    </div>
	</div>
</footer>