---
title: Login Layout
subtitle: Quick Login Page
layout: example.hbs

nav-thumb: "placeholder.jpg"
nav-title: "Login Layout"
nav-text: "Login Layout"
nav-variant: "examples"
page-category: "examples"
---

<header class="w w--head">
	<div class="g">
	    <div class="c__lg--1">
	    	<h1 class="page__title">{{title}}</h1>
	    </div>
	</div>
</header>

<nav class="w w--nav">
	<div class="g">
	    <div class="c__lg--1">
	    	[SITE MAINNAV]
	    </div>
	</div>
</nav>

<main class="main">
	<div class="w w--headlines">
		<div class="g">
		    <div class="c__lg--5-16 c__md--1-2">
		    {{> login }}
		    </div>
		    <div class="c__lg--11-16 c__md--1">
		    [REASONS]
		    </div>
		</div>
	</div>
</main>

<footer class="w w--foot">
	{{> footernav }}
	<div class="g">
	    <div class="c__lg--1">
			{{> footer }} {{! footer uses the app.json for its information at present }}
	    </div>
	</div>
</footer>
