---
title: Depth
layout: alloy.hbs

nav-thumb: "systems/depth.jpg"
nav-title: "Depth"
nav-text: "Depth"
nav-variant: "depth"
page-category: "systems"
class-master: "depth"
---

<main class="w w--main">
	<div class="g">
	    <div class="c__lg--1">

  			<div class="page{{#if nav-variant}} page--{{nav-variant}}{{/if}}">
				<div class="page__head">
					<h1 class="page__title">{{title}}</h1>
					{{#if subtitle}}<p class="page__subtitle">{{subtitle}}</p>{{/if}}
				</div>

<!-- writings -->

		        <div class="page__body rte">
		        <p>These examples show the visual depth levels described in Material Design.</p>
		        </div>

<!-- example -->

				<section class="section section--example">
		            <header class="section__head">
		                <h2 class="section__title">Example</h2>
		            </header>

		            <div class="section__body">
				        <!-- code -->

				        {{> box box-d0 }}
				        {{> box box-d1 }}
				        {{> box box-d2 }}
				        {{> box box-d3 }}
				        {{> box box-d4 }}
				        {{> box box-d5 }}

				        <!-- end of code -->
			        </div>

		        </section>

<!-- code -->

		    	<section class="section section--code">
		            <header class="section__head">
		            	<h2 class="section__title">Code</h2>
		            </header>

		            <div class="section__body">
			            <pre class="prettyprint linenums"><code class="html">

			             </code></pre>
		            </div>

		        </section>

<!-- reference -->

		        <section class="section section--reference">
		            <header class="section__head">
		                <h2 class="section__title">References</h2>
		            </header>
		            <div class="section__body rte">

		            	<ul>
		            		<li><a href="https://www.polymer-project.org/0.5/docs/elements/paper-shadow.html" target="_blank">https://www.polymer-project.org/0.5/docs/elements/paper-shadow.html</a></li>
		            		<li><a href="http://codepen.io/p2kmgcl/pen/JoRaPm">http://codepen.io/p2kmgcl/pen/JoRaPm</a></li>
		            	</ul>
		            	
		            </div>
		        </section>

	        </div>

	    </div>
	</div>
</main>
