---
title: Grids
layout: alloy.hbs

nav-thumb: "systems/grids.jpg"
nav-title: "Grids"
nav-text: "Grids"
nav-variant: "grids"
page-category: "systems"
---

<main class="w w--main">
	<div class="g">
	    <div class="c__lg--1">

  			<div class="page{{#if nav-variant}} page--{{nav-variant}}{{/if}}">
				<div class="page__head">
					<h1 class="page__title">{{title}}</h1>
					{{#if subtitle}}<p class="page__subtitle">{{subtitle}}</p>{{/if}}
				</div>
			</div>

        </div>
    </div>
</main>

<div class="w w-example">
	<div class="g"> <!-- rainbow -->
		<div class="c__lg--1"><h2>Rainbow</h2></div>
		<div class="c__lg--1"><div class="gex">1-1</div></div>
		<div class="c__lg--1-2"><div class="gex">1-2</div></div>
		<div class="c__lg--1-2"><div class="gex">1-2</div></div>
		<div class="c__lg--1-3"><div class="gex">1-3</div></div>
		<div class="c__lg--1-3"><div class="gex">1-3</div></div>
		<div class="c__lg--1-3"><div class="gex">1-3</div></div>
		<div class="c__lg--1-4"><div class="gex">1-4</div></div>
		<div class="c__lg--1-4"><div class="gex">1-4</div></div>
		<div class="c__lg--1-4"><div class="gex">1-4</div></div>
		<div class="c__lg--1-4"><div class="gex">1-4</div></div>
		<div class="c__lg--1-5"><div class="gex">1-5</div></div>
		<div class="c__lg--1-5"><div class="gex">1-5</div></div>
		<div class="c__lg--1-5"><div class="gex">1-5</div></div>
		<div class="c__lg--1-5"><div class="gex">1-5</div></div>
		<div class="c__lg--1-5"><div class="gex">1-5</div></div>
		<div class="c__lg--1-6"><div class="gex">1-6</div></div>
		<div class="c__lg--1-6"><div class="gex">1-6</div></div>
		<div class="c__lg--1-6"><div class="gex">1-6</div></div>
		<div class="c__lg--1-6"><div class="gex">1-6</div></div>
		<div class="c__lg--1-6"><div class="gex">1-6</div></div>
		<div class="c__lg--1-6"><div class="gex">1-6</div></div>
		<div class="c__lg--1-7"><div class="gex">1-7</div></div>
		<div class="c__lg--1-7"><div class="gex">1-7</div></div>
		<div class="c__lg--1-7"><div class="gex">1-7</div></div>
		<div class="c__lg--1-7"><div class="gex">1-7</div></div>
		<div class="c__lg--1-7"><div class="gex">1-7</div></div>
		<div class="c__lg--1-7"><div class="gex">1-7</div></div>
		<div class="c__lg--1-7"><div class="gex">1-7</div></div>
		<div class="c__lg--1-8"><div class="gex">1-8</div></div>
		<div class="c__lg--1-8"><div class="gex">1-8</div></div>
		<div class="c__lg--1-8"><div class="gex">1-8</div></div>
		<div class="c__lg--1-8"><div class="gex">1-8</div></div>
		<div class="c__lg--1-8"><div class="gex">1-8</div></div>
		<div class="c__lg--1-8"><div class="gex">1-8</div></div>
		<div class="c__lg--1-8"><div class="gex">1-8</div></div>
		<div class="c__lg--1-8"><div class="gex">1-8</div></div>
		<div class="c__lg--1-9"><div class="gex">1-9</div></div>
		<div class="c__lg--1-9"><div class="gex">1-9</div></div>
		<div class="c__lg--1-9"><div class="gex">1-9</div></div>
		<div class="c__lg--1-9"><div class="gex">1-9</div></div>
		<div class="c__lg--1-9"><div class="gex">1-9</div></div>
		<div class="c__lg--1-9"><div class="gex">1-9</div></div>
		<div class="c__lg--1-9"><div class="gex">1-9</div></div>
		<div class="c__lg--1-9"><div class="gex">1-9</div></div>
		<div class="c__lg--1-9"><div class="gex">1-9</div></div>
		<div class="c__lg--1-10"><div class="gex">1-10</div></div>
		<div class="c__lg--1-10"><div class="gex">1-10</div></div>
		<div class="c__lg--1-10"><div class="gex">1-10</div></div>
		<div class="c__lg--1-10"><div class="gex">1-10</div></div>
		<div class="c__lg--1-10"><div class="gex">1-10</div></div>
		<div class="c__lg--1-10"><div class="gex">1-10</div></div>
		<div class="c__lg--1-10"><div class="gex">1-10</div></div>
		<div class="c__lg--1-10"><div class="gex">1-10</div></div>
		<div class="c__lg--1-10"><div class="gex">1-10</div></div>
		<div class="c__lg--1-10"><div class="gex">1-10</div></div>
		<div class="c__lg--1-11"><div class="gex">1-11</div></div>
		<div class="c__lg--1-11"><div class="gex">1-11</div></div>
		<div class="c__lg--1-11"><div class="gex">1-11</div></div>
		<div class="c__lg--1-11"><div class="gex">1-11</div></div>
		<div class="c__lg--1-11"><div class="gex">1-11</div></div>
		<div class="c__lg--1-11"><div class="gex">1-11</div></div>
		<div class="c__lg--1-11"><div class="gex">1-11</div></div>
		<div class="c__lg--1-11"><div class="gex">1-11</div></div>
		<div class="c__lg--1-11"><div class="gex">1-11</div></div>
		<div class="c__lg--1-11"><div class="gex">1-11</div></div>
		<div class="c__lg--1-11"><div class="gex">1-11</div></div>
		<div class="c__lg--1-12"><div class="gex">1-12</div></div>
		<div class="c__lg--1-12"><div class="gex">1-12</div></div>
		<div class="c__lg--1-12"><div class="gex">1-12</div></div>
		<div class="c__lg--1-12"><div class="gex">1-12</div></div>
		<div class="c__lg--1-12"><div class="gex">1-12</div></div>
		<div class="c__lg--1-12"><div class="gex">1-12</div></div>
		<div class="c__lg--1-12"><div class="gex">1-12</div></div>
		<div class="c__lg--1-12"><div class="gex">1-12</div></div>
		<div class="c__lg--1-12"><div class="gex">1-12</div></div>
		<div class="c__lg--1-12"><div class="gex">1-12</div></div>
		<div class="c__lg--1-12"><div class="gex">1-12</div></div>
		<div class="c__lg--1-12"><div class="gex">1-12</div></div>
		<div class="c__lg--1-13"><div class="gex">1-13</div></div>
		<div class="c__lg--1-13"><div class="gex">1-13</div></div>
		<div class="c__lg--1-13"><div class="gex">1-13</div></div>
		<div class="c__lg--1-13"><div class="gex">1-13</div></div>
		<div class="c__lg--1-13"><div class="gex">1-13</div></div>
		<div class="c__lg--1-13"><div class="gex">1-13</div></div>
		<div class="c__lg--1-13"><div class="gex">1-13</div></div>
		<div class="c__lg--1-13"><div class="gex">1-13</div></div>
		<div class="c__lg--1-13"><div class="gex">1-13</div></div>
		<div class="c__lg--1-13"><div class="gex">1-13</div></div>
		<div class="c__lg--1-13"><div class="gex">1-13</div></div>
		<div class="c__lg--1-13"><div class="gex">1-13</div></div>
		<div class="c__lg--1-13"><div class="gex">1-13</div></div>
		<div class="c__lg--1-14"><div class="gex">1-14</div></div>
		<div class="c__lg--1-14"><div class="gex">1-14</div></div>
		<div class="c__lg--1-14"><div class="gex">1-14</div></div>
		<div class="c__lg--1-14"><div class="gex">1-14</div></div>
		<div class="c__lg--1-14"><div class="gex">1-14</div></div>
		<div class="c__lg--1-14"><div class="gex">1-14</div></div>
		<div class="c__lg--1-14"><div class="gex">1-14</div></div>
		<div class="c__lg--1-14"><div class="gex">1-14</div></div>
		<div class="c__lg--1-14"><div class="gex">1-14</div></div>
		<div class="c__lg--1-14"><div class="gex">1-14</div></div>
		<div class="c__lg--1-14"><div class="gex">1-14</div></div>
		<div class="c__lg--1-14"><div class="gex">1-14</div></div>
		<div class="c__lg--1-14"><div class="gex">1-14</div></div>
		<div class="c__lg--1-14"><div class="gex">1-14</div></div>
		<div class="c__lg--1-15"><div class="gex">1-15</div></div>
		<div class="c__lg--1-15"><div class="gex">1-15</div></div>
		<div class="c__lg--1-15"><div class="gex">1-15</div></div>
		<div class="c__lg--1-15"><div class="gex">1-15</div></div>
		<div class="c__lg--1-15"><div class="gex">1-15</div></div>
		<div class="c__lg--1-15"><div class="gex">1-15</div></div>
		<div class="c__lg--1-15"><div class="gex">1-15</div></div>
		<div class="c__lg--1-15"><div class="gex">1-15</div></div>
		<div class="c__lg--1-15"><div class="gex">1-15</div></div>
		<div class="c__lg--1-15"><div class="gex">1-15</div></div>
		<div class="c__lg--1-15"><div class="gex">1-15</div></div>
		<div class="c__lg--1-15"><div class="gex">1-15</div></div>
		<div class="c__lg--1-15"><div class="gex">1-15</div></div>
		<div class="c__lg--1-15"><div class="gex">1-15</div></div>
		<div class="c__lg--1-15"><div class="gex">1-15</div></div>
		<div class="c__lg--1-16"><div class="gex">1-16</div></div>
		<div class="c__lg--1-16"><div class="gex">1-16</div></div>
		<div class="c__lg--1-16"><div class="gex">1-16</div></div>
		<div class="c__lg--1-16"><div class="gex">1-16</div></div>
		<div class="c__lg--1-16"><div class="gex">1-16</div></div>
		<div class="c__lg--1-16"><div class="gex">1-16</div></div>
		<div class="c__lg--1-16"><div class="gex">1-16</div></div>
		<div class="c__lg--1-16"><div class="gex">1-16</div></div>
		<div class="c__lg--1-16"><div class="gex">1-16</div></div>
		<div class="c__lg--1-16"><div class="gex">1-16</div></div>
		<div class="c__lg--1-16"><div class="gex">1-16</div></div>
		<div class="c__lg--1-16"><div class="gex">1-16</div></div>
		<div class="c__lg--1-16"><div class="gex">1-16</div></div>
		<div class="c__lg--1-16"><div class="gex">1-16</div></div>
		<div class="c__lg--1-16"><div class="gex">1-16</div></div>
		<div class="c__lg--1-16"><div class="gex">1-16</div></div>
	</div>

	<div class="g">
		<div class="c__lg--1"><h2>Grid of 16's</h2></div>
		<div class="c__lg--16-16"><div class="gex">16-16</div></div>
		<div class="c__lg--1-16"><div class="gex">1-16</div></div>
		<div class="c__lg--15-16"><div class="gex">15-16</div></div>
		<div class="c__lg--2-16"><div class="gex">2-16</div></div>
		<div class="c__lg--14-16"><div class="gex">14-16</div></div>
		<div class="c__lg--3-16"><div class="gex">3-16</div></div>
		<div class="c__lg--13-16"><div class="gex">13-16</div></div>
		<div class="c__lg--4-16"><div class="gex">4-16</div></div>
		<div class="c__lg--12-16"><div class="gex">12-16</div></div>
		<div class="c__lg--5-16"><div class="gex">5-16</div></div>
		<div class="c__lg--11-16"><div class="gex">11-16</div></div>
		<div class="c__lg--6-16"><div class="gex">6-16</div></div>
		<div class="c__lg--10-16"><div class="gex">10-16</div></div>
		<div class="c__lg--7-16"><div class="gex">7-16</div></div>
		<div class="c__lg--9-16"><div class="gex">9-16</div></div>
		<div class="c__lg--8-16"><div class="gex">8-16</div></div>
		<div class="c__lg--8-16"><div class="gex">8-16</div></div>
	</div>

	<div class="g">
		<div class="c__lg--1"><h2>Grid of 15's</h2></div>
		<div class="c__lg--15-15"><div class="gex">1-15</div></div>
		<div class="c__lg--1-15"><div class="gex">1-15</div></div>
		<div class="c__lg--14-15"><div class="gex">14-15</div></div>
		<div class="c__lg--2-15"><div class="gex">2-15</div></div>
		<div class="c__lg--13-15"><div class="gex">13-15</div></div>
		<div class="c__lg--3-15"><div class="gex">3-15</div></div>
		<div class="c__lg--12-15"><div class="gex">12-15</div></div>
		<div class="c__lg--4-15"><div class="gex">4-15</div></div>
		<div class="c__lg--11-15"><div class="gex">11-15</div></div>
		<div class="c__lg--5-15"><div class="gex">5-15</div></div>
		<div class="c__lg--10-15"><div class="gex">10-15</div></div>
		<div class="c__lg--6-15"><div class="gex">6-15</div></div>
		<div class="c__lg--9-15"><div class="gex">9-15</div></div>
		<div class="c__lg--7-15"><div class="gex">7-15</div></div>
		<div class="c__lg--8-15"><div class="gex">8-15</div></div>
	</div>

	<div class="g">
		<div class="c__lg--1"><h2>Grid of 14's</h2></div>
		<div class="c__lg--14-14"><div class="gex">14-14</div></div>
		<div class="c__lg--1-14"><div class="gex">1-14</div></div>
		<div class="c__lg--13-14"><div class="gex">13-14</div></div>
		<div class="c__lg--2-14"><div class="gex">2-14</div></div>
		<div class="c__lg--12-14"><div class="gex">12-14</div></div>
		<div class="c__lg--3-14"><div class="gex">3-14</div></div>
		<div class="c__lg--11-14"><div class="gex">11-14</div></div>
		<div class="c__lg--4-14"><div class="gex">4-14</div></div>
		<div class="c__lg--10-14"><div class="gex">10-14</div></div>
		<div class="c__lg--5-14"><div class="gex">5-14</div></div>
		<div class="c__lg--9-14"><div class="gex">9-14</div></div>
		<div class="c__lg--6-14"><div class="gex">6-14</div></div>
		<div class="c__lg--8-14"><div class="gex">8-14</div></div>
		<div class="c__lg--7-14"><div class="gex">7-14</div></div>
		<div class="c__lg--7-14"><div class="gex">7-14</div></div>
	</div>

	<div class="g">
		<div class="c__lg--1"><h2>Grid of 13's</h2></div>
		<div class="c__lg--13-13"><div class="gex">13-13</div></div>
		<div class="c__lg--1-13"><div class="gex">1-13</div></div>
		<div class="c__lg--12-13"><div class="gex">12-13</div></div>
		<div class="c__lg--2-13"><div class="gex">2-13</div></div>
		<div class="c__lg--11-13"><div class="gex">11-13</div></div>
		<div class="c__lg--3-13"><div class="gex">3-13</div></div>
		<div class="c__lg--10-13"><div class="gex">10-13</div></div>
		<div class="c__lg--4-13"><div class="gex">4-13</div></div>
		<div class="c__lg--9-13"><div class="gex">9-13</div></div>
		<div class="c__lg--5-13"><div class="gex">5-13</div></div>
		<div class="c__lg--8-13"><div class="gex">8-13</div></div>
		<div class="c__lg--6-13"><div class="gex">6-13</div></div>
		<div class="c__lg--7-13"><div class="gex">7-13</div></div>
	</div>


	<div class="g">
		<div class="c__lg--1"><h2>Grid of 12's</h2></div>
		<div class="c__lg--12-12"><div class="gex">12-12</div></div>
		<div class="c__lg--1-12"><div class="gex">1-12</div></div>
		<div class="c__lg--11-12"><div class="gex">11-12</div></div>
		<div class="c__lg--2-12"><div class="gex">2-12</div></div>
		<div class="c__lg--10-12"><div class="gex">10-12</div></div>
		<div class="c__lg--3-12"><div class="gex">3-12</div></div>
		<div class="c__lg--9-12"><div class="gex">9-12</div></div>
		<div class="c__lg--4-12"><div class="gex">4-12</div></div>
		<div class="c__lg--8-12"><div class="gex">8-12</div></div>
		<div class="c__lg--5-12"><div class="gex">5-12</div></div>
		<div class="c__lg--7-12"><div class="gex">7-12</div></div>
		<div class="c__lg--6-12"><div class="gex">6-12</div></div>
		<div class="c__lg--6-12"><div class="gex">6-12</div></div>
	</div>

	<div class="g">
		<div class="c__lg--1"><h2>Grid of 11's</h2></div>
		<div class="c__lg--11-11"><div class="gex">11-11</div></div>
		<div class="c__lg--1-11"><div class="gex">1-11</div></div>
		<div class="c__lg--10-11"><div class="gex">10-11</div></div>
		<div class="c__lg--2-11"><div class="gex">2-11</div></div>
		<div class="c__lg--9-11"><div class="gex">9-11</div></div>
		<div class="c__lg--3-11"><div class="gex">3-11</div></div>
		<div class="c__lg--8-11"><div class="gex">8-11</div></div>
		<div class="c__lg--4-11"><div class="gex">4-11</div></div>
		<div class="c__lg--7-11"><div class="gex">7-11</div></div>
		<div class="c__lg--5-11"><div class="gex">5-11</div></div>
		<div class="c__lg--6-11"><div class="gex">6-11</div></div>
	</div>

	<div class="g">
		<div class="c__lg--1"><h2>Grid of 10's</h2></div>
		<div class="c__lg--10-10"><div class="gex">10-10</div></div>
		<div class="c__lg--1-10"><div class="gex">1-10</div></div>
		<div class="c__lg--9-10"><div class="gex">9-10</div></div>
		<div class="c__lg--2-10"><div class="gex">2-10</div></div>
		<div class="c__lg--8-10"><div class="gex">8-10</div></div>
		<div class="c__lg--3-10"><div class="gex">3-10</div></div>
		<div class="c__lg--7-10"><div class="gex">7-10</div></div>
		<div class="c__lg--4-10"><div class="gex">4-10</div></div>
		<div class="c__lg--6-10"><div class="gex">6-10</div></div>
		<div class="c__lg--5-10"><div class="gex">5-10</div></div>
		<div class="c__lg--5-10"><div class="gex">5-10</div></div>
	</div>

	<div class="g">
		<div class="c__lg--1"><h2>Grid of 9's</h2></div>
		<div class="c__lg--9-9"><div class="gex">9-9</div></div>
		<div class="c__lg--1-9"><div class="gex">1-9</div></div>
		<div class="c__lg--8-9"><div class="gex">8-9</div></div>
		<div class="c__lg--2-9"><div class="gex">2-9</div></div>
		<div class="c__lg--7-9"><div class="gex">7-9</div></div>
		<div class="c__lg--3-9"><div class="gex">3-9</div></div>
		<div class="c__lg--6-9"><div class="gex">6-9</div></div>
		<div class="c__lg--4-9"><div class="gex">4-9</div></div>
		<div class="c__lg--5-9"><div class="gex">5-9</div></div>
	</div>

	<div class="g">
		<div class="c__lg--1"><h2>Grid of 8's</h2></div>
		<div class="c__lg--8-8"><div class="gex">8-8</div></div>
		<div class="c__lg--1-8"><div class="gex">1-8</div></div>
		<div class="c__lg--7-8"><div class="gex">7-8</div></div>
		<div class="c__lg--2-8"><div class="gex">2-8</div></div>
		<div class="c__lg--6-8"><div class="gex">6-8</div></div>
		<div class="c__lg--3-8"><div class="gex">3-8</div></div>
		<div class="c__lg--5-8"><div class="gex">5-8</div></div>
		<div class="c__lg--4-8"><div class="gex">4-8</div></div>
		<div class="c__lg--4-8"><div class="gex">4-8</div></div>
	</div>
	</div>

	<div class="g">
		<div class="c__lg--1"><h2>Grid of 7's</h2></div>
		<div class="c__lg--7-7"><div class="gex">7-7</div></div>
		<div class="c__lg--1-7"><div class="gex">1-7</div></div>
		<div class="c__lg--6-7"><div class="gex">6-7</div></div>
		<div class="c__lg--2-7"><div class="gex">2-7</div></div>
		<div class="c__lg--5-7"><div class="gex">5-7</div></div>
		<div class="c__lg--3-7"><div class="gex">3-7</div></div>
		<div class="c__lg--4-7"><div class="gex">4-7</div></div>
	</div>

	<div class="g">
		<div class="c__lg--1"><h2>Grid of 6's</h2></div>
		<div class="c__lg--6-6"><div class="gex">6-6</div></div>
		<div class="c__lg--1-6"><div class="gex">1-6</div></div>
		<div class="c__lg--5-6"><div class="gex">5-6</div></div>
		<div class="c__lg--2-6"><div class="gex">2-6</div></div>
		<div class="c__lg--4-6"><div class="gex">4-6</div></div>
		<div class="c__lg--3-6"><div class="gex">3-6</div></div>
		<div class="c__lg--3-6"><div class="gex">3-6</div></div>
	</div>

	<div class="g">
		<div class="c__lg--1"><h2>Grid of 5's</h2></div>
		<div class="c__lg--5-5"><div class="gex">5-5</div></div>
		<div class="c__lg--1-5"><div class="gex">1-5</div></div>
		<div class="c__lg--4-5"><div class="gex">4-5</div></div>
		<div class="c__lg--2-5"><div class="gex">2-5</div></div>
		<div class="c__lg--3-5"><div class="gex">3-5</div></div>
	</div>
	</div>

	<div class="g">
		<div class="c__lg--1"><h2>Grid of 4's</h2></div>
		<div class="c__lg--4-4"><div class="gex">4-4</div></div>
		<div class="c__lg--1-4"><div class="gex">1-4</div></div>
		<div class="c__lg--3-4"><div class="gex">3-4</div></div>
		<div class="c__lg--2-4"><div class="gex">2-4</div></div>
		<div class="c__lg--2-4"><div class="gex">2-4</div></div>
	</div>

	<div class="g">
		<div class="c__lg--1"><h2>Grid of 3's</h2></div>
		<div class="c__lg--3-3"><div class="gex">3-3</div></div>
		<div class="c__lg--1-3"><div class="gex">1-3</div></div>
		<div class="c__lg--2-3"><div class="gex">2-3</div></div>
	</div>

	<div class="g">
		<div class="c__lg--1"><h2>Grid of 2's</h2></div>
		<div class="c__lg--2-2"><div class="gex">2-2</div></div>
		<div class="c__lg--1-2"><div class="gex">1-2</div></div>
		<div class="c__lg--1-2"><div class="gex">1-2</div></div>
	</div>
</div>

<!-- code -->

<div class="w w--example">
    <div class="g">
        <div class="c__md-1"><h2>Grid's in Grid's</h2></div>
    </div>

    <div class="g">
        <div class="c__md--1-2 c__lg--1-2"><div class="gex">1-2</div></div>
        <div class="c__md--1-2 c__lg--1-2"><div class="gex">1-2</div></div>
    </div>

    <div class="g">
        <div class="c__md--1-5 c__lg--2-7">
            <div class="g"><div class="c--1-2"><div class="gex">1-2 (in 1-5)</div></div><div class="c--1-2"><div class="gex">1-2 (in 1-5)</div></div></div>
        </div>
        <div class="c__md--4-5 c__lg--5-7">
            <div class="g">
                <div class="c--1-2"><div class="gex">1-2 (in 4-5)</div></div>
				<div class="c--1-2"><div class="gex">1-2 (in 4-5)</div></div>
			</div>

            <div class="g">
				<div class="c--1-3"><div class="gex">1-3 (in 4-5)</div></div>
				<div class="c--2-3"><div class="gex">2-3 (in 4-5)</div></div>
			</div>

            <div class="g">
				<div class="c--1-4"><div class="gex">1-4 (in 4-5)</div></div>
				<div class="c--3-4"><div class="gex">3-4 (in 4-5)</div></div>
			</div>

            <div class="g">
                <div class="c--1-5"><div class="gex">1-5 (in 4-5)</div></div>
                <div class="c--4-5"><div class="gex">4-5 (in 4-5)</div></div>
			</div>

            <div class="g">
                <div class="c--2-5"><div class="gex">2-5 (in 4-5)</div></div>
                <div class="c--3-5"><div class="gex">3-5 (in 4-5)</div></div>
			</div>
        </div>
    </div>
    <div class="g">
        <div class="c__lg--1-2">
            <div class="g"><div class="c--1-4"><div class="gex">1-4 (in 1-2)</div></div><div class="c--3-4"><div class="gex">3-4 (in 1-2)</div></div></div>
        </div>
        <div class="c__lg--1-2">
            <div class="g"><div class="c--3-5"><div class="gex">3-5 (in 1-2)</div></div><div class="c--2-5"><div class="gex">2-5 (in 1-2)</div></div></div>
        </div>
    </div>
</div>

<div class="w w--main">
	<div class="g">
	    <div class="c__lg--1">

<!-- reference -->

		        <section class="section section--reference">
		            <header class="section__head">
		                <h2 class="section__title">References</h2>
		            </header>
		            <div class="section__body rte">

		            </div>
		        </section>

	        </div>

	    </div>
	</div>
</div>
