
/* ==========================================================================
// PRETTIFY
// =========================================================================*/

// VARS
// =========================================================================

@LOCAL-NoCode: #000000;
@LOCAL-String: #E6DB74;
@LOCAL-Keyword: #66D9EF;
@LOCAL-Comment: #75715E;
@LOCAL-Type: #66D9EF;
@LOCAL-Literal: #AE81FF;
@LOCAL-Punctuation: #F8F8F0;
@LOCAL-Plaintext: #F8F8F0;
@LOCAL-Tag: #F92672;
@LOCAL-Attribute: #a0e22a;
@LOCAL-AttributeValue: #E6DB74;
@LOCAL-Decimal: #F8F8F0;

.prettyprint {
    display: block;
    color: @COLOR-GreyLighter;
    background-color: @COLOR-GreyDark;
    padding: 1em;
    overflow: hidden;

    code {
        display: inline;
        line-height: 1.3;
    }

    *::selection {
        color: @COLOR-GreyLighter;
        background: @COLOR-Yellow;
    }

    *::-moz-selection {
        color: @COLOR-GreyLighter;
        background: @COLOR-Yellow;
    }

    .nocode { background-color: none; color: @LOCAL-NoCode }
    .str { color: @LOCAL-String; }
    .kwd { color: @LOCAL-Keyword; }
    .com { color: @LOCAL-Comment; }
    .typ { color: @LOCAL-Type; }
    .lit { color: @LOCAL-Literal; }
    .pun { color: @LOCAL-Punctuation; }
    .pln { color: @LOCAL-Plaintext; }
    .tag { color: @LOCAL-Tag; }
    .atn { color: @LOCAL-Attribute; }
    .atv { color: @LOCAL-AttributeValue; }
    .dec { color: @LOCAL-Decimal; }

}


// LANGUAGE SPECIFIC COLOURS
// =========================================================================

@media screen {
    .lang-css {
        .pln{ color:#a0e22a; }  /* plaintext - green    */
        .lit{ color:#F92672; }  /* literal   - pink/red */
    }

    .lang-js {
        .kwd{ color:#AE81FF; } /* keyword  - purple */
    }

    .lang-sql {
        .kwd{ color:#F92672; }  /* keyword  - pink/red */
    }
}


// LINENUMBERS (.linenums)
// =========================================================================

.prettyprint {
    .linenums {
        margin: 0;
        padding-left: 0;
        color: #8f908a;
        counter-reset: item;
        list-style-type: none;

        li{
            display: block;
            position: relative;
            line-height:1.4;

            code {
                border-left: 1px solid darken(#8f908a, 30%);
                line-height:1.4;
                ._margin-left(50);

            }

            &:before {
                position:absolute;
                top:0;
                left:0;
                width:50px;
                display: block;
                content: counter(item) "  ";
                counter-increment: item;
                text-align: right;
            }
        }
    }
}


// PRINT STYLES
// =========================================================================

@media print {
  .prettyprint { background-color: none }
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun { color: #440 }
  .pln { color: #000 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}