
/* ==========================================================================
// PRETTIFY
// =========================================================================*/

// VARIABLES
// =========================================================================

@PRETTIFY-NoCode:               @COLOR-Black;
@PRETTIFY-String:               @COLOR-YellowLight;
@PRETTIFY-Keyword:              @COLOR-Cyan;
@PRETTIFY-Comment:              @COLOR-GreyDark;
@PRETTIFY-Type:                 @COLOR-Cyan;
@PRETTIFY-Literal:              @COLOR-Purple;
@PRETTIFY-Punctuation:          @COLOR-GreyLighter;
@PRETTIFY-Plaintext:            @COLOR-GreyLighter;
@PRETTIFY-Tag:                  @COLOR-Pink;
@PRETTIFY-Attribute:            @COLOR-Lime;
@PRETTIFY-AttributeValue:       @COLOR-YellowLight;
@PRETTIFY-Decimal:              @COLOR-GreyLighter;

.prettyprint {
    display: block;
    color: @COLOR-GreyLighter;
    background-color: @COLOR-GreyDarker;
    padding: 1em;
    overflow: hidden;

    code {
        display: inline;
        line-height: 1.3;
    }

    *::selection {
        color: @COLOR-GreyLighter;
        background: @COLOR-PinkDarker;
    }

    *::-moz-selection {
        color: @COLOR-GreyLighter;
        background: @COLOR-PinkDarker;
    }

    .nocode { background-color: none; color: @PRETTIFY-NoCode }
    .str { color: @PRETTIFY-String; }
    .kwd { color: @PRETTIFY-Keyword; }
    .com { color: @PRETTIFY-Comment; }
    .typ { color: @PRETTIFY-Type; }
    .lit { color: @PRETTIFY-Literal; }
    .pun { color: @PRETTIFY-Punctuation; }
    .pln { color: @PRETTIFY-Plaintext; }
    .tag { color: @PRETTIFY-Tag; }
    .atn { color: @PRETTIFY-Attribute; }
    .atv { color: @PRETTIFY-AttributeValue; }
    .dec { color: @PRETTIFY-Decimal; }

}

// LANGUAGE SPECIFIC COLOURS
// =========================================================================

@media screen {
    .lang-css {
        .pln{ color:#a0e22a; }  /* plaintext - green    */
        .lit{ color:#F92672; }  /* literal   - pink/red */
    }

    .lang-js {
        .kwd{ color:#AE81FF; } /* keyword  - purple */
    }

    .lang-sql {
        .kwd{ color:#F92672; }  /* keyword  - pink/red */
    }
}

// LINENUMBERS (.linenums)
// =========================================================================

.prettyprint {
    .linenums {
        color: @COLOR-Grey;
        margin: 0;
        padding-left: 0;
        counter-reset: item;
        list-style-type: none;

        li {
            display: block;
            position: relative;
            line-height: 1.4;

            code {
                border-left: 1px solid @COLOR-Grey;
                line-height: 1.4;
                ._margin-left (50);
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 50px;
                display: block;
                content: counter(item) "  ";
                counter-increment: item;
                text-align: right;
            }
        }
    }
}

// PRINT STYLES
// =========================================================================

@media print {

    .prettyprint { background-color: none }
    .str { color: #060 }
    .kwd { color: #006; font-weight: bold }
    .com { color: #600; font-style: italic }
    .typ { color: #404; font-weight: bold }
    .lit { color: #044 }
    .pun { color: #440 }
    .pln { color: #000 }
    .tag { color: #006; font-weight: bold }
    .atn { color: #404 }
    .atv { color: #060 }

}