---
title: Scrollbar
layout: alloy.hbs

nav-thumb: "components/placeholder.png"
nav-title: "Scrollbar"
nav-text: "Scrollbar"
nav-variant: "scrollbar"
page-category: "components"
js-scrollbar: true
---

<main class="w w--main">
	<div class="g">
	    <div class="c__lg--1">

  			<div class="page{{#if nav-variant}} page--{{nav-variant}}{{/if}}">
				<div class="page__head">
					<h1 class="page__title">{{title}}</h1>
					{{#if subtitle}}<p class="page__subtitle">{{subtitle}}</p>{{/if}}
				</div>

<!-- writings -->

		        <div class="page__body rte">
		        </div>

<!-- example -->

				<section class="section section--example">
		            <header class="section__head">
		                <h2 class="section__title">Example</h2>
		            </header>

		            <div class="section__body">
				        <!-- code -->

        				<div>
					        <div class="scrollable-example scrollable">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacus massa, faucibus eu fringilla ut, hendrerit vitae nisl. Mauris faucibus at ex at consectetur. Aliquam dapibus dui rhoncus sapien laoreet iaculis. In non porttitor quam, nec consequat justo. Aenean sodales ex eu dui tristique sodales. Nulla urna ex, molestie a commodo quis, rutrum condimentum mauris. Nullam porttitor scelerisque nisl, ac varius sapien pretium eu. Etiam vehicula sodales dolor. Quisque blandit dui purus, id congue turpis varius in. Pellentesque laoreet, dolor non pharetra ultricies, metus nunc commodo erat, accumsan sollicitudin augue nunc at magna. Proin accumsan sapien laoreet turpis blandit feugiat. Quisque tempus elementum massa non varius. Maecenas tincidunt consectetur lectus, eu fermentum est ornare eu. Nulla aliquam lacinia ex eu ultricies. Ut vulputate consequat tortor porta pretium. Aenean dictum magna metus, et luctus odio malesuada id.
								</p>
								<p>
								Donec urna lorem, tincidunt ac ante a, rhoncus pretium magna. Mauris turpis risus, convallis quis pretium sit amet, maximus at libero. Vestibulum vulputate, nulla eu imperdiet porta, erat enim condimentum arcu, quis aliquam nibh lacus in augue. Mauris scelerisque dictum justo quis rutrum. Integer et dui ligula. Praesent eleifend tempor augue, vel pulvinar est egestas ut. Suspendisse in nulla purus. Mauris efficitur sagittis ultrices. Aenean imperdiet laoreet eros, sit amet dapibus augue. Duis facilisis interdum venenatis. Vivamus vitae ornare velit. Duis sed tellus eu libero imperdiet sagittis. Donec porta condimentum eros nec varius. Donec vitae odio dolor.
								</p>
								<p>
								Nulla facilisi. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer imperdiet ipsum ac eros dapibus, a gravida lacus malesuada. Nunc feugiat ut nisl ut varius. Aliquam gravida ante eu commodo pharetra. Quisque sem lacus, pellentesque vitae purus et, egestas ultrices enim. Ut et fermentum turpis. Pellentesque placerat posuere velit, id volutpat arcu aliquam eget. Pellentesque eget aliquet magna.
								</p>
								<p>
								Maecenas a enim ut leo consectetur lacinia. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec nibh et lorem dapibus pellentesque. Sed luctus dictum aliquam. Morbi condimentum egestas euismod. Quisque eleifend luctus lacus ac porta. Cras mi leo, cursus varius tincidunt et, lacinia non turpis. Integer tristique felis at libero scelerisque, at accumsan arcu auctor. Etiam nec mollis massa, at facilisis arcu.
								</p>
								<p>
								Ut sed odio lectus. Quisque tristique massa sit amet laoreet efficitur. Integer vulputate quis lorem eu condimentum. Fusce dignissim tempor molestie. Nam nec enim molestie, auctor sapien eget, vulputate diam. Duis nec tempus massa, eu venenatis lorem. Praesent nec felis lobortis, fringilla ipsum et, semper lorem. Vivamus tristique ut ligula in posuere. Duis consequat posuere nisi, id commodo est finibus sed. Integer euismod leo vitae sapien viverra aliquet. Cras elementum turpis eu luctus hendrerit.
								</p>
					        </div>
						</div>

				        <!-- end of code -->
			        </div>

		        </section>

<!-- code -->

		    	<section class="section section--code">
		            <header class="section__head">
		            	<h2 class="section__title">Code</h2>
		            </header>

		            <div class="section__body">
			            <pre class="prettyprint linenums"><code class="html">

			             </code></pre>
		            </div>

		        </section>

<!-- reference -->

		        <section class="section section--reference">
		            <header class="section__head">
		                <h2 class="section__title">References</h2>
		            </header>
		            <div class="section__body rte">

		            </div>
		        </section>

	        </div>

	    </div>
	</div>
</main>
