---
title: This is a test page
subtitle: Where I am trying out wether or not we can create dynamicly linked partials

nav-title: "Test Page"
page-category: "tests"
nav-text: "Nested Partials"
---

<main class="w w--main">
	<div class="g">
	    <div class="c__lg--1">

			{{> ALLOY_page ALLOY_page--test}}

		</div>
	</div>
</main>